In [1]:
# !pip install altair

In [2]:
# !pip install vega

In [3]:
import json
import pandas as pd
import altair as alt

In [4]:
import re

# Reading in JSON Search Results from localize.city 

I focused only on available listings in and around Prospect Park, Brooklyn NYC and only 1 bedroom/studio apartments

In [5]:
def json_to_dict(filepath):
    with open(filepath, 'r') as file:
        data = json.load(file)
    return data

In [6]:
filepaths = [
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page1.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page2.json', 
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page3.json', 
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page4.json', 
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page5.json', 
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page6.json', 
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page7.json', 
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page8.json', 
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json//brooklyn_prospect_listing_result_page9.json', 
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page10.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page11.json', 
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page12.json', 
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page13.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page14.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page15.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page16.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page17.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page18.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page19.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page20.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page21.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page22.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page23.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page24.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page25.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page26.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page27.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page28.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page29.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page30.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page31.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page32.json', 
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page33.json', 
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page34.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page35.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page36.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page37.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page38.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page39.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page40.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page41.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page42.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page43.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page44.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page45.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page46.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page47.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page48.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page49.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page50.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page51.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page52.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page53.json',
    '/Users/ligeaalexander/Desktop/Developer/Project-3/search result json/brooklyn_prospect_listing_result_page54.json']

In [7]:
dictionaries = [json_to_dict(filepath) for filepath in filepaths]

In [8]:
# print(type(dictionaries))
# print(type(dictionaries[0]))
# print(dictionaries[0].keys())

In [9]:
# dictionaries[0]

In [10]:
# # listing = []

# for i, dict in enumerate(dictionaries):
# #     print(f"Page {i+1}, {[id['id']for id in dict['data']['searchResult']['poi']]}")
#     print(len([id['id']for id in dict['data']['searchResult']['poi']]))
#     print([id['id']for id in dict['data']['searchResult']['poi']])
#     print('------')

In [11]:
# print(dictionaries[0]['data']['searchResult'].keys())

In [12]:
# print(dictionaries[0]['data']['searchResult']['poi'][0].keys())

In [13]:
# print(dictionaries[0]['data']['searchResult']['poi'][0]['insights']['insights'])

In [14]:
# for dict in dictionaries:
# #     print(dict['data']['searchResult']['poi'])
#     for id in dict['data']['searchResult']['poi']:
# #         print(id['id'])
#         for i in id['insights']['insights']:
# #             print(i['category'])
#             if i['category'] == 'naturalLight':
#                 print([i['tradeoff']])
#                 print('----')
#             else:
#                 None

In [15]:
# for dict in dictionaries:
# #     print(dict['data']['searchResult']['poi'])
#     for id in dict['data']['searchResult']['poi']:
# #         print(id['id'])
#         for i in id['insights']['insights']:
# #             print(i['category'])
#             if i['category'] == 'naturalLight':
#                 print(id['id'])
# #                 print(id['price'])
#                 print(id['beds'])
#                 print(i['tradeoff']['value'] + f" and the rent is {id['price']}")
# #             elif i['category'] != 'naturalLight' :
# #                 print(f"No light info for {id['id']}, rent = {id['price']}")
#         print(f"No sunlight data available for {id['id']} and the rent is {id['price']}")
#     print('======')

In [16]:
ids = []
zipcode = []
unit_number = []
building_class =[]
beds = []
size = []
rents = []
light_cat = []
lights = []

for dictionary in dictionaries:
    for id in dictionary['data']['searchResult']['poi']:
        for insight in id['insights']['insights']:
            if insight['category'] == 'naturalLight':
                ids.append(id['id'])
                zipcode.append(id['addressDetails']['zipcode'])
                unit_number.append(id['addressDetails']['unitNumber'])
                building_class.append(id['buildingClass'])
                beds.append(id['beds'])
                size.append(id['area'])
                rents.append(id['price'])
                light_cat.append(insight['tradeoff']['value'])
                lights.append(insight['tradeoff']['value'] + f" and the rent is {id['price']}")
        if len(id['insights']['insights']) == 0 or all(insight['category'] != 'naturalLight' for insight in id['insights']['insights']):
            ids.append(id['id'])
            zipcode.append(id['addressDetails']['zipcode'])
            unit_number.append(id['addressDetails']['unitNumber'])
            building_class.append(id['buildingClass'])
            beds.append(id['beds'])
            size.append(id['area'])
            rents.append(id['price'])
            light_cat.append(f"No sunlight")
            lights.append(f"No sunlight data available and the rent is {id['price']}")

## Pre-processing apartment listings with sun exposure details

In [17]:
data = {
    'listing_path': ids,
    'location': zipcode,
    'unit_number': unit_number,
    'building_class': building_class,
    'beds': beds,
    'size':size,
    'rent': rents,
    'sun_exposure_cat': light_cat,
    'sun_exposure': lights
}

df_sun_exposure = pd.DataFrame(data)

In [18]:
df_sun_exposure.size.max()

9630

In [19]:
df_sun_exposure.head()

,listing_path,location,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure
0,l-2g3vm2ptsq8i,11225,2,rental unit,3.0,NaN,3726,No sunlight,No sunlight data available and the rent is 3726
1,l-2in0401r3l0j,11215,1B,rental unit,2.0,NaN,4500,No sunlight,No sunlight data available and the rent is 4500
2,l-hrd2dhl7etdr,11225,6A,condo,4.0,2043.0,11500,No sunlight,No sunlight data available and the rent is 11500
3,l-dgbncnljpk2t,11217,B2,rental unit,3.0,900.0,4750,No sunlight,No sunlight data available and the rent is 4750
4,m-22ir9qbmgt2p,11225,3E,multi-family,3.0,9999.0,3300,No sunlight,No sunlight data available and the rent is 3300

In [20]:
df_sun_exposure.sun_exposure_cat.value_counts()

No sunlight                                626
Limited natural light                      204
Moderate natural light                      91
This apartment has limited sunlight         76
Bright & sun drenched                       32
This apartment has moderate sunlight        24
This apartment is bright & sun-drenched     17
Name: sun_exposure_cat, dtype: int64

In [21]:
(df_sun_exposure
     .groupby('building_class')
     .size()
)

building_class
brownstone                        1
co-op                            36
condo                           142
condop                            1
mixed-use single-family home      4
mixed-use three-family home       8
mixed-use two-family home        16
multi-family                     66
multifamily                     496
rental unit                     230
single-family home               12
three-family home                34
two-family home                  22
dtype: int64

In [22]:
df_sun_exposure = df_sun_exposure[df_sun_exposure['building_class']=='rental unit']

In [23]:
df_sun_exposure.sun_exposure_cat.value_counts()

No sunlight                                184
This apartment has limited sunlight         26
This apartment has moderate sunlight        12
This apartment is bright & sun-drenched      8
Name: sun_exposure_cat, dtype: int64

In [24]:
df_sun_exposure.sort_values(by = 'rent',ascending =False).sort_values(by = 'location',ascending =True)

,listing_path,location,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure
496,l-803776tr5607,11201,6M,rental unit,0.0,457.0,3450,No sunlight,No sunlight data available and the rent is 3450
497,l-vrqgvtdthnm3,11201,10G,rental unit,1.0,756.0,4700,No sunlight,No sunlight data available and the rent is 4700
428,l-vabqa5dm04h2,11201,1C,rental unit,1.0,525.0,2550,This apartment has limited sunlight,This apartment has limited sunlight and the re...
403,l-n8oo4au52hda,11201,1A,rental unit,3.0,1250.0,4250,This apartment has limited sunlight,This apartment has limited sunlight and the re...
445,l-p12e1cru4a0l,11201,1,rental unit,1.0,NaN,4200,No sunlight,No sunlight data available and the rent is 4200
...,...,...,...,...,...,...,...,...,...
757,l-metf0tnqb3oa,11238,6B,rental unit,2.0,NaN,4000,No sunlight,No sunlight data available and the rent is 4000
782,l-v22eed67chvl,11238,501,rental unit,2.0,NaN,4200,No sunlight,No sunlight data available and the rent is 4200
606,l-7g46vji1nit8,11238,2K,rental unit,1.0,NaN,4200,No sunlight,No sunlight data available and the rent is 4200
270,l-lnn5usqallek,11238,2002,rental unit,1.0,NaN,4300,No sunlight,No sunlight data available and the rent is 4300
255,l-42o619vk51bj,11238,1F,rental unit,0.0,NaN,2800,No sunlight,No sunlight data available and the rent is 2800

In [25]:
df_sun_exposure.dtypes

listing_path         object
location             object
unit_number          object
building_class       object
beds                float64
size                float64
rent                  int64
sun_exposure_cat     object
sun_exposure         object
dtype: object

In [26]:
unique_values = df_sun_exposure['sun_exposure_cat'].unique()

# Print the unique values
for value in unique_values:
    print(value)

No sunlight
This apartment has moderate sunlight
This apartment has limited sunlight
This apartment is bright & sun-drenched

In [27]:
label_mapping = {
    'No sunlight': 'No sunlight data',
    'nan':'No sunlight data',
    'Limited natural light': 'Limited natural light',
    'This apartment has limited sunlight': 'Limited natural light',
    'This apartment has moderate sunlight': 'Moderate sunlight',
    'Moderate natural light':'Moderate sunlight',
    'Bright & sun drenched':'Bright & sun drenched',
    'This apartment is bright & sun-drenched':'Bright & sun drenched'
    
}

# Update the values in the column using the map() method
df_sun_exposure['sun_exposure_cat'] = df_sun_exposure['sun_exposure_cat'].map(label_mapping)

# The values in the 'your_column_name' column will be updated with the new labels

# Example: Printing the updated column
print(df_sun_exposure['sun_exposure_cat'])

0            No sunlight data
1            No sunlight data
3            No sunlight data
199         Moderate sunlight
200          No sunlight data
                ...
1041         No sunlight data
1043         No sunlight data
1062         No sunlight data
1067    Limited natural light
1068         No sunlight data
Name: sun_exposure_cat, Length: 230, dtype: object

In [28]:
df_sun_exposure

,listing_path,location,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure
0,l-2g3vm2ptsq8i,11225,2,rental unit,3.0,NaN,3726,No sunlight data,No sunlight data available and the rent is 3726
1,l-2in0401r3l0j,11215,1B,rental unit,2.0,NaN,4500,No sunlight data,No sunlight data available and the rent is 4500
3,l-dgbncnljpk2t,11217,B2,rental unit,3.0,900.0,4750,No sunlight data,No sunlight data available and the rent is 4750
199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...
200,l-ok0278ecbrpc,11217,312,rental unit,1.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000
...,...,...,...,...,...,...,...,...,...
1041,l-f280460qpan0,11221,1R,rental unit,1.0,1066.0,4150,No sunlight data,No sunlight data available and the rent is 4150
1043,l-21m12jnumbm4,11221,2,rental unit,3.0,NaN,3678,No sunlight data,No sunlight data available and the rent is 3678
1062,l-iqp310aocqdd,11213,4F,rental unit,3.0,NaN,3250,No sunlight data,No sunlight data available and the rent is 3250
1067,l-7g7gkgl3ak4i,11213,2B,rental unit,1.0,600.0,2850,Limited natural light,This apartment has limited sunlight and the re...
1068,l-1s265npkj314,11213,2,rental unit,3.0,NaN,4250,No sunlight data,No sunlight data available and the rent is 4250

In [29]:
df_sun_exposure['floor'] = df_sun_exposure['unit_number'].apply(lambda x: re.findall(r'\d', x)[0] if re.findall(r'\d', x) else None)

In [30]:
df_sun_exposure

,listing_path,location,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,floor
0,l-2g3vm2ptsq8i,11225,2,rental unit,3.0,NaN,3726,No sunlight data,No sunlight data available and the rent is 3726,2
1,l-2in0401r3l0j,11215,1B,rental unit,2.0,NaN,4500,No sunlight data,No sunlight data available and the rent is 4500,1
3,l-dgbncnljpk2t,11217,B2,rental unit,3.0,900.0,4750,No sunlight data,No sunlight data available and the rent is 4750,2
199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,3
200,l-ok0278ecbrpc,11217,312,rental unit,1.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,3
...,...,...,...,...,...,...,...,...,...,...
1041,l-f280460qpan0,11221,1R,rental unit,1.0,1066.0,4150,No sunlight data,No sunlight data available and the rent is 4150,1
1043,l-21m12jnumbm4,11221,2,rental unit,3.0,NaN,3678,No sunlight data,No sunlight data available and the rent is 3678,2
1062,l-iqp310aocqdd,11213,4F,rental unit,3.0,NaN,3250,No sunlight data,No sunlight data available and the rent is 3250,4
1067,l-7g7gkgl3ak4i,11213,2B,rental unit,1.0,600.0,2850,Limited natural light,This apartment has limited sunlight and the re...,2
1068,l-1s265npkj314,11213,2,rental unit,3.0,NaN,4250,No sunlight data,No sunlight data available and the rent is 4250,2

In [31]:
df_sun_exposure.to_csv('bk_sun_exposure.csv', index = False)

# Reading in Median Income Data for Brooklyn Neighbourhoods

In [32]:
# df_bk_income = pd.read_csv('brooklyn_median_income.csv')

In [33]:
# df_bk_income

## Pre-processing Brooklyn Median Income Data

In [34]:
# df_bk_income.columns = df_bk_income.columns.str.lower() #convert column names to lowercase

In [35]:
# df_bk_income

In [36]:
# df_bk_income['zipcode'] = df_bk_income['zipcode'].str.split(', ')
# df_bk_income = df_bk_income.explode('zipcode')

# df_bk_income.reset_index(drop=True, inplace=True)

In [37]:
# df_bk_income.head()

# Pre-processing ACS Household Living Data from Census Reporter

In [38]:
with open('/Users/ligeaalexander/Desktop/Developer/Project-2/acs2021_5yr_B09021.json', 'r') as file:
        bk_pop_living = json.load(file)
print(bk_pop_living)

{'release': {'id': 'acs2021_5yr', 'years': '2017-2021', 'name': 'ACS 2021 5-year'}, 'tables': {'B09021': {'title': 'Living Arrangements of Adults 18 Years and Over by Age', 'universe': 'Population 18 Years and Over in Households', 'denominator_column_id': 'B09021001', 'columns': {'B09021001': {'name': 'Total:', 'indent': 0}, 'B09021002': {'name': 'Lives alone', 'indent': 1}, 'B09021003': {'name': 'Householder living with spouse or spouse of householder', 'indent': 1}, 'B09021004': {'name': 'Householder living with unmarried partner or unmarried partner of householder', 'indent': 1}, 'B09021005': {'name': 'Child of householder', 'indent': 1}, 'B09021006': {'name': 'Other relatives', 'indent': 1}, 'B09021007': {'name': 'Other nonrelatives', 'indent': 1}, 'B09021008': {'name': '18 to 34 years:', 'indent': 1}, 'B09021009': {'name': 'Lives alone', 'indent': 2}, 'B09021010': {'name': 'Householder living with spouse or spouse of householder', 'indent': 2}, 'B09021011': {'name': 'Householder living with unmarried partner or unmarried partner of householder', 'indent': 2}, 'B09021012': {'name': 'Child of householder', 'indent': 2}, 'B09021013': {'name': 'Other relatives', 'indent': 2}, 'B09021014': {'name': 'Other nonrelatives', 'indent': 2}, 'B09021015': {'name': '35 to 64 years:', 'indent': 1}, 'B09021016': {'name': 'Lives alone', 'indent': 2}, 'B09021017': {'name': 'Householder living with spouse or spouse of householder', 'indent': 2}, 'B09021018': {'name': 'Householder living with unmarried partner or unmarried partner of householder', 'indent': 2}, 'B09021019': {'name': 'Child of householder', 'indent': 2}, 'B09021020': {'name': 'Other relatives', 'indent': 2}, 'B09021021': {'name': 'Other nonrelatives', 'indent': 2}, 'B09021022': {'name': '65 years and over:', 'indent': 1}, 'B09021023': {'name': 'Lives alone', 'indent': 2}, 'B09021024': {'name': 'Householder living with spouse or spouse of householder', 'indent': 2}, 'B09021025': {'name': 'Householder living with unmarried partner or unmarried partner of householder', 'indent': 2}, 'B09021026': {'name': 'Child of householder', 'indent': 2}, 'B09021027': {'name': 'Other relatives', 'indent': 2}, 'B09021028': {'name': 'Other nonrelatives', 'indent': 2}}}}}

In [39]:
print(bk_pop_living.keys())

dict_keys(['release', 'tables'])

In [40]:
df_acs = pd.read_csv('acs2021_5yr_B09021_86000US11230.csv')

In [41]:
df_acs.head()

,geoid,Zipcode,Total,"B09021001, Error",Lives alone,"B09021002, Error",Householder living with spouse or spouse of householder,"B09021003, Error",Householder living with unmarried partner or unmarried partner of householder,"B09021004, Error",...,Householder living with spouse or spouse of householder.3,"B09021024, Error",Householder living with unmarried partner or unmarried partner of householder.3,"B09021025, Error",Child of householder.3,"B09021026, Error",Other relatives.3,"B09021027, Error",Other nonrelatives.3,"B09021028, Error"
0,06000US3604710022,"Brooklyn borough, Kings County, NY",2049635,1837,288737,3751,743459,7989,127366,3926,...,147373,3369,6937,727,1495,368,98707,2610,12970,1158
1,86000US07002,7002,54196,906,8157,832,23770,1084,2543,533,...,4417,618,127,73,0,31,2070,331,272,156
2,86000US07305,7305,53225,1791,7248,755,18997,1622,3247,844,...,3113,601,248,126,16,25,3136,549,152,114
3,86000US11101,11101,27405,1402,6451,749,10152,1089,2697,543,...,1016,372,61,95,0,27,411,172,21,21
4,86000US11201,11201,52600,1708,11693,845,22795,1370,6973,741,...,3219,466,251,121,0,30,899,239,71,61

In [42]:
# with open('acs2021_5yr_B09021.json', 'r') as file:
#         acs_labels = json.load(file)
# print(acs_labels)

In [43]:
# acs_labels['tables']['B09021']['columns'].values()

In [44]:
# labels = pd.DataFrame(acs_labels['tables']['B09021']['columns'])

In [45]:
# labels

In [46]:
# df_acs.columns

In [47]:
# labels.to_csv('acs_labels.csv', index = False)

In [48]:
df_acs = pd.read_csv('acs2021_5yr_B09021_86000US11230.csv')

In [49]:
df_acs.head()

,geoid,Zipcode,Total,"B09021001, Error",Lives alone,"B09021002, Error",Householder living with spouse or spouse of householder,"B09021003, Error",Householder living with unmarried partner or unmarried partner of householder,"B09021004, Error",...,Householder living with spouse or spouse of householder.3,"B09021024, Error",Householder living with unmarried partner or unmarried partner of householder.3,"B09021025, Error",Child of householder.3,"B09021026, Error",Other relatives.3,"B09021027, Error",Other nonrelatives.3,"B09021028, Error"
0,06000US3604710022,"Brooklyn borough, Kings County, NY",2049635,1837,288737,3751,743459,7989,127366,3926,...,147373,3369,6937,727,1495,368,98707,2610,12970,1158
1,86000US07002,7002,54196,906,8157,832,23770,1084,2543,533,...,4417,618,127,73,0,31,2070,331,272,156
2,86000US07305,7305,53225,1791,7248,755,18997,1622,3247,844,...,3113,601,248,126,16,25,3136,549,152,114
3,86000US11101,11101,27405,1402,6451,749,10152,1089,2697,543,...,1016,372,61,95,0,27,411,172,21,21
4,86000US11201,11201,52600,1708,11693,845,22795,1370,6973,741,...,3219,466,251,121,0,30,899,239,71,61

In [50]:
df_acs.columns = df_acs.columns.str.lower()

In [51]:
df_acs.head(3)

,geoid,zipcode,total,"b09021001, error",lives alone,"b09021002, error",householder living with spouse or spouse of householder,"b09021003, error",householder living with unmarried partner or unmarried partner of householder,"b09021004, error",...,householder living with spouse or spouse of householder.3,"b09021024, error",householder living with unmarried partner or unmarried partner of householder.3,"b09021025, error",child of householder.3,"b09021026, error",other relatives.3,"b09021027, error",other nonrelatives.3,"b09021028, error"
0,06000US3604710022,"Brooklyn borough, Kings County, NY",2049635,1837,288737,3751,743459,7989,127366,3926,...,147373,3369,6937,727,1495,368,98707,2610,12970,1158
1,86000US07002,7002,54196,906,8157,832,23770,1084,2543,533,...,4417,618,127,73,0,31,2070,331,272,156
2,86000US07305,7305,53225,1791,7248,755,18997,1622,3247,844,...,3113,601,248,126,16,25,3136,549,152,114

In [52]:
df_acs = df_acs.iloc[1:]

In [53]:
df_acs.head()

,geoid,zipcode,total,"b09021001, error",lives alone,"b09021002, error",householder living with spouse or spouse of householder,"b09021003, error",householder living with unmarried partner or unmarried partner of householder,"b09021004, error",...,householder living with spouse or spouse of householder.3,"b09021024, error",householder living with unmarried partner or unmarried partner of householder.3,"b09021025, error",child of householder.3,"b09021026, error",other relatives.3,"b09021027, error",other nonrelatives.3,"b09021028, error"
1,86000US07002,7002,54196,906,8157,832,23770,1084,2543,533,...,4417,618,127,73,0,31,2070,331,272,156
2,86000US07305,7305,53225,1791,7248,755,18997,1622,3247,844,...,3113,601,248,126,16,25,3136,549,152,114
3,86000US11101,11101,27405,1402,6451,749,10152,1089,2697,543,...,1016,372,61,95,0,27,411,172,21,21
4,86000US11201,11201,52600,1708,11693,845,22795,1370,6973,741,...,3219,466,251,121,0,30,899,239,71,61
5,86000US11203,11203,62279,2066,8376,590,18095,1065,2343,535,...,5640,583,283,110,47,34,4271,503,477,195

In [54]:
df_acs.reset_index(drop = True, inplace = True)

In [55]:
df_acs[df_acs.zipcode == '7002']

,geoid,zipcode,total,"b09021001, error",lives alone,"b09021002, error",householder living with spouse or spouse of householder,"b09021003, error",householder living with unmarried partner or unmarried partner of householder,"b09021004, error",...,householder living with spouse or spouse of householder.3,"b09021024, error",householder living with unmarried partner or unmarried partner of householder.3,"b09021025, error",child of householder.3,"b09021026, error",other relatives.3,"b09021027, error",other nonrelatives.3,"b09021028, error"
0,86000US07002,7002,54196,906,8157,832,23770,1084,2543,533,...,4417,618,127,73,0,31,2070,331,272,156

In [56]:
df_acs.columns

Index(['geoid', 'zipcode', 'total', 'b09021001, error', 'lives alone',
       'b09021002, error',
       'householder living with spouse or spouse of householder',
       'b09021003, error',
       'householder living with unmarried partner or unmarried partner of householder',
       'b09021004, error', 'child of householder', 'b09021005, error',
       'other relatives', 'b09021006, error', 'other nonrelatives',
       'b09021007, error', '18 to 34 years:', 'b09021008, error',
       'lives alone.1', 'b09021009, error',
       'householder living with spouse or spouse of householder.1',
       'b09021010, error',
       'householder living with unmarried partner or unmarried partner of householder.1',
       'b09021011, error', 'child of householder.1', 'b09021012, error',
       'other relatives.1', 'b09021013, error', 'other nonrelatives.1',
       'b09021014, error', '35 to 64 years:', 'b09021015, error',
       'lives alone.2', 'b09021016, error',
       'householder living with spouse or spouse of householder.2',
       'b09021017, error',
       'householder living with unmarried partner or unmarried partner of householder.2',
       'b09021018, error', 'child of householder.2', 'b09021019, error',
       'other relatives.2', 'b09021020, error', 'other nonrelatives.2',
       'b09021021, error', '65 years and over:', 'b09021022, error',
       'lives alone.3', 'b09021023, error',
       'householder living with spouse or spouse of householder.3',
       'b09021024, error',
       'householder living with unmarried partner or unmarried partner of householder.3',
       'b09021025, error', 'child of householder.3', 'b09021026, error',
       'other relatives.3', 'b09021027, error', 'other nonrelatives.3',
       'b09021028, error'],
      dtype='object')

In [57]:
df_acs.columns = [re.sub(r'\W+', '', col.strip().lower()) if 'error' in col.lower() else col for col in df_acs.columns]
filtered_columns = [col for col in df_acs.columns if 'error' not in col.lower()]

In [58]:
df_acs_filtered = df_acs[filtered_columns]

In [59]:
df_acs_filtered.head()

,geoid,zipcode,total,lives alone,householder living with spouse or spouse of householder,householder living with unmarried partner or unmarried partner of householder,child of householder,other relatives,other nonrelatives,18 to 34 years:,...,child of householder.2,other relatives.2,other nonrelatives.2,65 years and over:,lives alone.3,householder living with spouse or spouse of householder.3,householder living with unmarried partner or unmarried partner of householder.3,child of householder.3,other relatives.3,other nonrelatives.3
0,86000US07002,7002,54196,8157,23770,2543,7490,9911,2325,15402,...,1164,5725,1185,10084,3198,4417,127,0,2070,272
1,86000US07305,7305,53225,7248,18997,3247,8626,12269,2838,17113,...,1598,5916,1368,9730,3065,3113,248,16,3136,152
2,86000US11101,11101,27405,6451,10152,2697,1617,3384,3104,11862,...,279,1970,889,2523,1014,1016,61,0,411,21
3,86000US11201,11201,52600,11693,22795,6973,2394,4719,4026,18784,...,354,2628,833,7503,3063,3219,251,0,899,71
4,86000US11203,11203,62279,8376,18095,2343,12599,17988,2878,17409,...,4033,9132,1323,14080,3362,5640,283,47,4271,477

# Analysis and Visualization

In [60]:
selected_zipcodes = ['11215', '11217', '11225', '11218','11226','11238']

In [61]:
df_acs_selected_zipcodes = df_acs_filtered[df_acs_filtered['zipcode'].isin(selected_zipcodes)]

In [62]:
df_acs_selected_zipcodes.reset_index(drop = True, inplace = True)

In [63]:
df_acs_selected_zipcodes

,geoid,zipcode,total,lives alone,householder living with spouse or spouse of householder,householder living with unmarried partner or unmarried partner of householder,child of householder,other relatives,other nonrelatives,18 to 34 years:,...,child of householder.2,other relatives.2,other nonrelatives.2,65 years and over:,lives alone.3,householder living with spouse or spouse of householder.3,householder living with unmarried partner or unmarried partner of householder.3,child of householder.3,other relatives.3,other nonrelatives.3
0,86000US11215,11215,56580,7522,29844,5705,3361,4359,5789,16567,...,672,2357,1552,7889,1684,4468,243,11,1104,379
1,86000US11217,11217,33427,6388,12215,4630,2308,3794,4092,12560,...,454,2017,1163,4482,1361,1823,169,34,879,216
2,86000US11218,11218,54613,6965,25500,2770,7418,8187,3773,15461,...,1474,3742,1260,9352,2521,3738,200,30,2618,245
3,86000US11225,11225,48984,8978,12766,3832,6997,10241,6170,18374,...,1815,4358,1291,9414,3194,2605,156,45,3121,293
4,86000US11226,11226,78956,11590,20624,4652,13136,20512,8442,28997,...,3213,10028,2535,12353,3147,3543,250,42,4913,458
5,86000US11238,11238,47998,9299,16884,5428,3323,4747,8317,19005,...,1062,2441,1544,6352,2182,2120,272,7,1421,350

In [64]:
# df_bk_income_selected.head()

In [65]:
df_acs_selected_zipcodes.to_csv('acs_living_selected_zipcodes.csv', index = False)

In [66]:
# Define the new column names mapping
column_names = {
    'lives alone.1': 'lives alone 18-34',
    'householder living with spouse or spouse of householder.1': 'householder with spouse 18-34',
    'householder living with unmarried partner or unmarried partner of householder.1': 'householder with partner 18-34',
    'child of householder.1': 'child of householder 18-34',
    'other relatives.1': 'other relatives 18-34',
    'other nonrelatives.1': 'other nonrelatives 18-34',
    'lives alone.2': 'lives alone 35-64',
    'householder living with spouse or spouse of householder.2': 'householder with spouse 35-64',
    'householder living with unmarried partner or unmarried partner of householder.2': 'householder with partner 35-64',
    'child of householder.2': 'child of householder 35-64',
    'other relatives.2': 'other relatives 35-64',
    'other nonrelatives.2': 'other nonrelatives 35-64',
    'lives alone.3': 'lives alone 65+',
    'householder living with spouse or spouse of householder.3': 'householder with spouse 65+',
    'householder living with unmarried partner or unmarried partner of householder.3': 'householder with partner 65+',
    'child of householder.3': 'child of householder 65+',
    'other relatives.3': 'other relatives 65+',
    'other nonrelatives.3': 'other nonrelatives 65+'
}

# Rename the columns
df_acs_selected_zipcodes.rename(columns=column_names, inplace=True)

/var/folders/km/gmzkf_4n5qn6c84ksf3bzy0c0000gn/T/ipykernel_69320/391628179.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_acs_selected_zipcodes.rename(columns=column_names, inplace=True)

In [67]:
df_acs_selected_zipcodes

,geoid,zipcode,total,lives alone,householder living with spouse or spouse of householder,householder living with unmarried partner or unmarried partner of householder,child of householder,other relatives,other nonrelatives,18 to 34 years:,...,child of householder 35-64,other relatives 35-64,other nonrelatives 35-64,65 years and over:,lives alone 65+,householder with spouse 65+,householder with partner 65+,child of householder 65+,other relatives 65+,other nonrelatives 65+
0,86000US11215,11215,56580,7522,29844,5705,3361,4359,5789,16567,...,672,2357,1552,7889,1684,4468,243,11,1104,379
1,86000US11217,11217,33427,6388,12215,4630,2308,3794,4092,12560,...,454,2017,1163,4482,1361,1823,169,34,879,216
2,86000US11218,11218,54613,6965,25500,2770,7418,8187,3773,15461,...,1474,3742,1260,9352,2521,3738,200,30,2618,245
3,86000US11225,11225,48984,8978,12766,3832,6997,10241,6170,18374,...,1815,4358,1291,9414,3194,2605,156,45,3121,293
4,86000US11226,11226,78956,11590,20624,4652,13136,20512,8442,28997,...,3213,10028,2535,12353,3147,3543,250,42,4913,458
5,86000US11238,11238,47998,9299,16884,5428,3323,4747,8317,19005,...,1062,2441,1544,6352,2182,2120,272,7,1421,350

In [68]:
# Define age groups for the columns
age_groups = ['18-34', '35-64', '65+']

# Initialize an empty list to store each reshaped DataFrame
dfs = []

# Loop over each age group
for age in age_groups:
    # Select the columns related to the current age group
    cols = [col for col in df_acs_selected_zipcodes.columns if age in col]
    
    # Reshape the DataFrame
    df_melted = df_acs_selected_zipcodes.melt(id_vars='zipcode', value_vars=cols, var_name='living_arrangement', value_name='count')
    
    # Add the age group column
    df_melted['age_group'] = age
    
    # Append the reshaped DataFrame to the list
    dfs.append(df_melted)

# Concatenate all reshaped DataFrames
df_tidy_acs = pd.concat(dfs, ignore_index=True)

# Extract the living arrangement from the 'living_arrangement' column
df_tidy_acs['living_arrangement'],df_tidy_acs['age_group'] = zip(*df_tidy_acs['living_arrangement'].str.rsplit(n=1))

In [69]:
df_tidy_acs

    zipcode  living_arrangement  count age_group
0     11215         lives alone   1880     18-34
1     11217         lives alone   1916     18-34
2     11218         lives alone   1107     18-34
3     11225         lives alone   1596     18-34
4     11226         lives alone   2863     18-34
..      ...                 ...    ...       ...
103   11217  other nonrelatives    216       65+
104   11218  other nonrelatives    245       65+
105   11225  other nonrelatives    293       65+
106   11226  other nonrelatives    458       65+
107   11238  other nonrelatives    350       65+

[108 rows x 4 columns]

In [70]:
# df_tidy_acs.to_csv('checking.csv', index=False)

In [71]:
import altair as alt

chart = alt.Chart(df_tidy_acs).mark_bar().encode(
    x=alt.X('living_arrangement:N', title='Zipcode'),
    y=alt.Y('count:Q', title='Count'),
    color='age_group:N',
    tooltip=['zipcode', 'living_arrangement', 'count', 'age_group'],
    column='zipcode:N'
).properties(
    width=150,
    height=300
)

chart

alt.Chart(...)

In [72]:
df_census_reporter = pd.read_csv('census_reporter_demographic_df')

In [73]:
df_census_reporter

   zipcode  median age  per capita income  median household income
0    11215        37.0              87707                   156930
1    11217        35.5              85813                   133269
2    11218        36.4              43113                    81857
3    11225        36.1              41497                    68542
4    11226        35.4              34323                    66173
5    11238        35.3              67950                   114427

In [74]:
df_census_reporter.dtypes

zipcode                      int64
median age                 float64
per capita income            int64
median household income      int64
dtype: object

In [75]:
df_census_reporter['zipcode'] = df_census_reporter['zipcode'].astype(str)

In [76]:
# Filter data
df_filtered_living_arrangement = df_tidy_acs[df_tidy_acs['age_group'] == '35-64']

# Create chart
chart = alt.Chart(df_filtered_living_arrangement).mark_bar().encode(
    x=alt.X('zipcode:N', title='Zipcode'),
    y=alt.Y('count:Q', title='Count'),
    color='living_arrangement:N',
    tooltip=['zipcode', 'living_arrangement', 'count']
).properties(
    width=150,
    height=300
).facet(
    column='living_arrangement:N'
)

chart

alt.FacetChart(...)

In [77]:
# First, let's get only the rows for the 35-64 age group
df_35_64 = df_filtered_living_arrangement[df_filtered_living_arrangement['age_group'] == '35-64']

# Now let's calculate the total count per zipcode
total_counts = df_35_64.groupby('zipcode')['count'].sum()

# Let's calculate the sum of counts for the 'lives alone' and 'householder living with spouse or spouse of householder' living arrangements
alone_counts = df_35_64[df_35_64['living_arrangement'] == 'lives alone'].groupby('zipcode')['count'].sum()
with_spouse_counts = df_35_64[df_35_64['living_arrangement'] == 'householder with spouse'].groupby('zipcode')['count'].sum()

# Now, we calculate the percentages
alone_percentages = alone_counts / total_counts * 100
with_spouse_percentages = with_spouse_counts / total_counts * 100

# The results are pandas Series with the zipcodes as indices and the percentages as values
print(alone_percentages.round())
print(with_spouse_percentages.round())

zipcode
11215    12.0
11217    19.0
11218    11.0
11225    20.0
11226    15.0
11238    20.0
Name: count, dtype: float64
zipcode
11215    66.0
11217    50.0
11218    63.0
11225    37.0
11226    37.0
11238    49.0
Name: count, dtype: float64

In [142]:
df_35_64.columns

Index(['zipcode', 'living_arrangement', 'count', 'age_group'], dtype='object')

In [78]:
df_sun_exposure

,listing_path,location,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,floor
0,l-2g3vm2ptsq8i,11225,2,rental unit,3.0,NaN,3726,No sunlight data,No sunlight data available and the rent is 3726,2
1,l-2in0401r3l0j,11215,1B,rental unit,2.0,NaN,4500,No sunlight data,No sunlight data available and the rent is 4500,1
3,l-dgbncnljpk2t,11217,B2,rental unit,3.0,900.0,4750,No sunlight data,No sunlight data available and the rent is 4750,2
199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,3
200,l-ok0278ecbrpc,11217,312,rental unit,1.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,3
...,...,...,...,...,...,...,...,...,...,...
1041,l-f280460qpan0,11221,1R,rental unit,1.0,1066.0,4150,No sunlight data,No sunlight data available and the rent is 4150,1
1043,l-21m12jnumbm4,11221,2,rental unit,3.0,NaN,3678,No sunlight data,No sunlight data available and the rent is 3678,2
1062,l-iqp310aocqdd,11213,4F,rental unit,3.0,NaN,3250,No sunlight data,No sunlight data available and the rent is 3250,4
1067,l-7g7gkgl3ak4i,11213,2B,rental unit,1.0,600.0,2850,Limited natural light,This apartment has limited sunlight and the re...,2
1068,l-1s265npkj314,11213,2,rental unit,3.0,NaN,4250,No sunlight data,No sunlight data available and the rent is 4250,2

In [79]:
df_sun_exposure = df_sun_exposure.rename(columns = {'location':'zipcode'})

In [80]:
# df_sun_exposure

In [81]:
df_sun_exposure.groupby(by='zipcode').size()

zipcode
11201    23
11205     2
11210     8
11213     3
11215    51
11216    15
11217    42
11218     2
11219     1
11221     2
11225    10
11226    30
11230     1
11231     3
11232     1
11238    36
dtype: int64

In [82]:
df_sun_exposure_selected = df_sun_exposure[df_sun_exposure['zipcode'].isin(selected_zipcodes)].reset_index()
df_sun_exposure_selected

,index,listing_path,zipcode,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,floor
0,0,l-2g3vm2ptsq8i,11225,2,rental unit,3.0,NaN,3726,No sunlight data,No sunlight data available and the rent is 3726,2
1,1,l-2in0401r3l0j,11215,1B,rental unit,2.0,NaN,4500,No sunlight data,No sunlight data available and the rent is 4500,1
2,3,l-dgbncnljpk2t,11217,B2,rental unit,3.0,900.0,4750,No sunlight data,No sunlight data available and the rent is 4750,2
3,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,3
4,200,l-ok0278ecbrpc,11217,312,rental unit,1.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,3
...,...,...,...,...,...,...,...,...,...,...,...
166,734,l-ue6jib37qqnf,11238,4,rental unit,1.0,NaN,3500,No sunlight data,No sunlight data available and the rent is 3500,4
167,757,l-metf0tnqb3oa,11238,6B,rental unit,2.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,6
168,781,l-qtrv180v4kc8,11238,504,rental unit,1.0,NaN,3500,No sunlight data,No sunlight data available and the rent is 3500,5
169,782,l-v22eed67chvl,11238,501,rental unit,2.0,NaN,4200,No sunlight data,No sunlight data available and the rent is 4200,5
170,783,l-rk0ue9fad9jb,11238,404,rental unit,0.0,NaN,2995,No sunlight data,No sunlight data available and the rent is 2995,4

In [83]:
df_sun_exposure_selected

,index,listing_path,zipcode,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,floor
0,0,l-2g3vm2ptsq8i,11225,2,rental unit,3.0,NaN,3726,No sunlight data,No sunlight data available and the rent is 3726,2
1,1,l-2in0401r3l0j,11215,1B,rental unit,2.0,NaN,4500,No sunlight data,No sunlight data available and the rent is 4500,1
2,3,l-dgbncnljpk2t,11217,B2,rental unit,3.0,900.0,4750,No sunlight data,No sunlight data available and the rent is 4750,2
3,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,3
4,200,l-ok0278ecbrpc,11217,312,rental unit,1.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,3
...,...,...,...,...,...,...,...,...,...,...,...
166,734,l-ue6jib37qqnf,11238,4,rental unit,1.0,NaN,3500,No sunlight data,No sunlight data available and the rent is 3500,4
167,757,l-metf0tnqb3oa,11238,6B,rental unit,2.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,6
168,781,l-qtrv180v4kc8,11238,504,rental unit,1.0,NaN,3500,No sunlight data,No sunlight data available and the rent is 3500,5
169,782,l-v22eed67chvl,11238,501,rental unit,2.0,NaN,4200,No sunlight data,No sunlight data available and the rent is 4200,5
170,783,l-rk0ue9fad9jb,11238,404,rental unit,0.0,NaN,2995,No sunlight data,No sunlight data available and the rent is 2995,4

In [84]:
df_sun_exposure_selected.groupby(by='zipcode').size()

zipcode
11215    51
11217    42
11218     2
11225    10
11226    30
11238    36
dtype: int64

In [85]:
df_sun_exposure.sun_exposure_cat.unique()

array(['No sunlight data', 'Moderate sunlight', 'Limited natural light',
       'Bright & sun drenched'], dtype=object)

In [86]:
df_sun_exposure_selected[df_sun_exposure_selected['sun_exposure_cat'] != 'No sunlight data']

,index,listing_path,zipcode,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,floor
3,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,3
15,213,l-4vkr066dfpsq,11217,1,rental unit,2.0,NaN,2800,Moderate sunlight,This apartment has moderate sunlight and the r...,1
18,216,l-jlm1f9thn9hb,11225,1,rental unit,4.0,2000.0,4795,Limited natural light,This apartment has limited sunlight and the re...,1
23,227,l-mmegr1flhf1d,11225,2F,rental unit,1.0,NaN,1895,Limited natural light,This apartment has limited sunlight and the re...,2
32,241,l-155vl5l7p3mt,11215,3R,rental unit,2.5,900.0,4000,Limited natural light,This apartment has limited sunlight and the re...,3
33,242,l-4b0n1hfp83tg,11215,5,rental unit,3.0,NaN,4500,Limited natural light,This apartment has limited sunlight and the re...,5
36,245,l-52b5rnl1erg8,11215,5F,rental unit,3.0,NaN,4995,Limited natural light,This apartment has limited sunlight and the re...,5
38,250,l-phubtn46t7vj,11215,2C,rental unit,4.0,NaN,5995,Moderate sunlight,This apartment has moderate sunlight and the r...,2
39,252,l-mmegr1flhf1d,11225,2F,rental unit,1.0,NaN,1895,Limited natural light,This apartment has limited sunlight and the re...,2
57,273,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,1
68,289,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,1
77,306,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,1
85,318,l-o45jb8pndlm4,11215,1R,rental unit,0.0,NaN,2950,Moderate sunlight,This apartment has moderate sunlight and the r...,1
87,320,l-o45jb8pndlm4,11215,1R,rental unit,0.0,NaN,2950,Moderate sunlight,This apartment has moderate sunlight and the r...,1
97,334,l-cpa3tvjh3aer,11215,7H,rental unit,0.0,NaN,3422,Bright & sun drenched,This apartment is bright & sun-drenched and th...,7
98,344,l-1g19ida1hi7m,11217,1F,rental unit,1.0,925.0,2800,Limited natural light,This apartment has limited sunlight and the re...,1
100,355,l-o45jb8pndlm4,11215,1R,rental unit,0.0,NaN,2950,Moderate sunlight,This apartment has moderate sunlight and the r...,1
102,358,l-155vl5l7p3mt,11215,3R,rental unit,2.5,900.0,4000,Limited natural light,This apartment has limited sunlight and the re...,3
103,365,l-phubtn46t7vj,11215,2C,rental unit,4.0,NaN,5995,Moderate sunlight,This apartment has moderate sunlight and the r...,2
105,371,l-r51ae16miros,11215,3,rental unit,1.0,800.0,2600,Bright & sun drenched,This apartment is bright & sun-drenched and th...,3
106,372,l-1g19ida1hi7m,11217,1F,rental unit,1.0,925.0,2800,Limited natural light,This apartment has limited sunlight and the re...,1
115,390,l-r51ae16miros,11215,3,rental unit,1.0,800.0,2600,Bright & sun drenched,This apartment is bright & sun-drenched and th...,3
116,391,l-1g19ida1hi7m,11217,1F,rental unit,1.0,925.0,2800,Limited natural light,This apartment has limited sunlight and the re...,1
118,393,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,1
133,505,l-u78ca500udu6,11217,1,rental unit,2.0,1000.0,7000,Limited natural light,This apartment has limited sunlight and the re...,1
151,541,l-4lgcsvm0lf5o,11217,GARDEN,rental unit,2.0,1400.0,4995,Limited natural light,This apartment has limited sunlight and the re...,None
152,551,l-ftuu4iri0p65,11217,3,rental unit,2.0,NaN,6850,Limited natural light,This apartment has limited sunlight and the re...,3
153,579,l-4brn1q68tp8k,11238,1S,rental unit,3.0,NaN,5500,Limited natural light,This apartment has limited sunlight and the re...,1
160,632,l-1ts5anpgrdrk,11238,4,rental unit,4.0,NaN,5900,Moderate sunlight,This apartment has moderate sunlight and the r...,4
163,695,l-7u0vaugt03jf,11238,4L,rental unit,3.0,1100.0,3850,Bright & sun drenched,This apartment is bright & sun-drenched and th...,4
164,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,2

In [87]:
df_sun_exposure_selected[df_sun_exposure_selected['sun_exposure_cat'] != 'No sunlight data'].groupby('zipcode').size().reset_index(name='counts')

  zipcode  counts
0   11215      13
1   11217       7
2   11225       3
3   11238       8

In [88]:
(df_sun_exposure_selected[df_sun_exposure_selected['sun_exposure_cat'] != 'No sunlight data']
    .groupby(['zipcode','sun_exposure_cat','rent'])
    .size()
    .reset_index(name='counts')
    .sort_values(by='rent', ascending = False)
    .head(30))

   zipcode       sun_exposure_cat  rent  counts
11   11217  Limited natural light  7000       1
10   11217  Limited natural light  6850       1
7    11215      Moderate sunlight  5995       2
19   11238      Moderate sunlight  5900       1
17   11238  Limited natural light  5500       1
4    11215  Limited natural light  4995       1
9    11217  Limited natural light  4995       1
14   11225  Limited natural light  4795       1
16   11238  Bright & sun drenched  4700       4
3    11215  Limited natural light  4500       1
2    11215  Limited natural light  4000       2
18   11238      Moderate sunlight  3900       1
15   11238  Bright & sun drenched  3850       1
6    11215      Moderate sunlight  3750       1
1    11215  Bright & sun drenched  3422       1
5    11215      Moderate sunlight  2950       3
8    11217  Limited natural light  2800       3
12   11217      Moderate sunlight  2800       1
0    11215  Bright & sun drenched  2600       2
13   11225  Limited natural light  1895       2

In [89]:
df_merged = pd.merge(df_sun_exposure_selected, df_census_reporter, on='zipcode', how='left')
df_merged

,index,listing_path,zipcode,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,floor,median age,per capita income,median household income
0,0,l-2g3vm2ptsq8i,11225,2,rental unit,3.0,NaN,3726,No sunlight data,No sunlight data available and the rent is 3726,2,36.1,41497,68542
1,1,l-2in0401r3l0j,11215,1B,rental unit,2.0,NaN,4500,No sunlight data,No sunlight data available and the rent is 4500,1,37.0,87707,156930
2,3,l-dgbncnljpk2t,11217,B2,rental unit,3.0,900.0,4750,No sunlight data,No sunlight data available and the rent is 4750,2,35.5,85813,133269
3,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,3,37.0,87707,156930
4,200,l-ok0278ecbrpc,11217,312,rental unit,1.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,3,35.5,85813,133269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,734,l-ue6jib37qqnf,11238,4,rental unit,1.0,NaN,3500,No sunlight data,No sunlight data available and the rent is 3500,4,35.3,67950,114427
167,757,l-metf0tnqb3oa,11238,6B,rental unit,2.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,6,35.3,67950,114427
168,781,l-qtrv180v4kc8,11238,504,rental unit,1.0,NaN,3500,No sunlight data,No sunlight data available and the rent is 3500,5,35.3,67950,114427
169,782,l-v22eed67chvl,11238,501,rental unit,2.0,NaN,4200,No sunlight data,No sunlight data available and the rent is 4200,5,35.3,67950,114427
170,783,l-rk0ue9fad9jb,11238,404,rental unit,0.0,NaN,2995,No sunlight data,No sunlight data available and the rent is 2995,4,35.3,67950,114427

In [90]:
sun_exposure_per_zipcode = df_merged.groupby('zipcode')['sun_exposure_cat'].unique()
sun_exposure_per_zipcode

zipcode
11215    [No sunlight data, Moderate sunlight, Limited ...
11217    [No sunlight data, Moderate sunlight, Limited ...
11218                                   [No sunlight data]
11225            [No sunlight data, Limited natural light]
11226                                   [No sunlight data]
11238    [No sunlight data, Bright & sun drenched, Limi...
Name: sun_exposure_cat, dtype: object

In [91]:
for zipcode in sun_exposure_per_zipcode:
    print(f"The available sun exposure levels for apartments in this area are: {zipcode}")

The available sun exposure levels for apartments in this area are: ['No sunlight data' 'Moderate sunlight' 'Limited natural light'
 'Bright & sun drenched']
The available sun exposure levels for apartments in this area are: ['No sunlight data' 'Moderate sunlight' 'Limited natural light']
The available sun exposure levels for apartments in this area are: ['No sunlight data']
The available sun exposure levels for apartments in this area are: ['No sunlight data' 'Limited natural light']
The available sun exposure levels for apartments in this area are: ['No sunlight data']
The available sun exposure levels for apartments in this area are: ['No sunlight data' 'Bright & sun drenched' 'Limited natural light'
 'Moderate sunlight']

In [92]:
for zipcode, sun_exposure in sun_exposure_per_zipcode.items():
    print(f"For zipcode {zipcode}, the available sun exposure categories are: {sun_exposure}")
    print("--------")

For zipcode 11215, the available sun exposure categories are: ['No sunlight data' 'Moderate sunlight' 'Limited natural light'
 'Bright & sun drenched']
--------
For zipcode 11217, the available sun exposure categories are: ['No sunlight data' 'Moderate sunlight' 'Limited natural light']
--------
For zipcode 11218, the available sun exposure categories are: ['No sunlight data']
--------
For zipcode 11225, the available sun exposure categories are: ['No sunlight data' 'Limited natural light']
--------
For zipcode 11226, the available sun exposure categories are: ['No sunlight data']
--------
For zipcode 11238, the available sun exposure categories are: ['No sunlight data' 'Bright & sun drenched' 'Limited natural light'
 'Moderate sunlight']
--------

In [93]:
filtered_sun_exposure = df_merged[df_merged['sun_exposure_cat'] != 'No sunlight data']

In [94]:
filtered_sun_exposure

,index,listing_path,zipcode,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,floor,median age,per capita income,median household income
3,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,3,37.0,87707,156930
15,213,l-4vkr066dfpsq,11217,1,rental unit,2.0,NaN,2800,Moderate sunlight,This apartment has moderate sunlight and the r...,1,35.5,85813,133269
18,216,l-jlm1f9thn9hb,11225,1,rental unit,4.0,2000.0,4795,Limited natural light,This apartment has limited sunlight and the re...,1,36.1,41497,68542
23,227,l-mmegr1flhf1d,11225,2F,rental unit,1.0,NaN,1895,Limited natural light,This apartment has limited sunlight and the re...,2,36.1,41497,68542
32,241,l-155vl5l7p3mt,11215,3R,rental unit,2.5,900.0,4000,Limited natural light,This apartment has limited sunlight and the re...,3,37.0,87707,156930
33,242,l-4b0n1hfp83tg,11215,5,rental unit,3.0,NaN,4500,Limited natural light,This apartment has limited sunlight and the re...,5,37.0,87707,156930
36,245,l-52b5rnl1erg8,11215,5F,rental unit,3.0,NaN,4995,Limited natural light,This apartment has limited sunlight and the re...,5,37.0,87707,156930
38,250,l-phubtn46t7vj,11215,2C,rental unit,4.0,NaN,5995,Moderate sunlight,This apartment has moderate sunlight and the r...,2,37.0,87707,156930
39,252,l-mmegr1flhf1d,11225,2F,rental unit,1.0,NaN,1895,Limited natural light,This apartment has limited sunlight and the re...,2,36.1,41497,68542
57,273,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,1,35.3,67950,114427
68,289,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,1,35.3,67950,114427
77,306,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,1,35.3,67950,114427
85,318,l-o45jb8pndlm4,11215,1R,rental unit,0.0,NaN,2950,Moderate sunlight,This apartment has moderate sunlight and the r...,1,37.0,87707,156930
87,320,l-o45jb8pndlm4,11215,1R,rental unit,0.0,NaN,2950,Moderate sunlight,This apartment has moderate sunlight and the r...,1,37.0,87707,156930
97,334,l-cpa3tvjh3aer,11215,7H,rental unit,0.0,NaN,3422,Bright & sun drenched,This apartment is bright & sun-drenched and th...,7,37.0,87707,156930
98,344,l-1g19ida1hi7m,11217,1F,rental unit,1.0,925.0,2800,Limited natural light,This apartment has limited sunlight and the re...,1,35.5,85813,133269
100,355,l-o45jb8pndlm4,11215,1R,rental unit,0.0,NaN,2950,Moderate sunlight,This apartment has moderate sunlight and the r...,1,37.0,87707,156930
102,358,l-155vl5l7p3mt,11215,3R,rental unit,2.5,900.0,4000,Limited natural light,This apartment has limited sunlight and the re...,3,37.0,87707,156930
103,365,l-phubtn46t7vj,11215,2C,rental unit,4.0,NaN,5995,Moderate sunlight,This apartment has moderate sunlight and the r...,2,37.0,87707,156930
105,371,l-r51ae16miros,11215,3,rental unit,1.0,800.0,2600,Bright & sun drenched,This apartment is bright & sun-drenched and th...,3,37.0,87707,156930
106,372,l-1g19ida1hi7m,11217,1F,rental unit,1.0,925.0,2800,Limited natural light,This apartment has limited sunlight and the re...,1,35.5,85813,133269
115,390,l-r51ae16miros,11215,3,rental unit,1.0,800.0,2600,Bright & sun drenched,This apartment is bright & sun-drenched and th...,3,37.0,87707,156930
116,391,l-1g19ida1hi7m,11217,1F,rental unit,1.0,925.0,2800,Limited natural light,This apartment has limited sunlight and the re...,1,35.5,85813,133269
118,393,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,1,35.3,67950,114427
133,505,l-u78ca500udu6,11217,1,rental unit,2.0,1000.0,7000,Limited natural light,This apartment has limited sunlight and the re...,1,35.5,85813,133269
151,541,l-4lgcsvm0lf5o,11217,GARDEN,rental unit,2.0,1400.0,4995,Limited natural light,This apartment has limited sunlight and the re...,None,35.5,85813,133269
152,551,l-ftuu4iri0p65,11217,3,rental unit,2.0,NaN,6850,Limited natural light,This apartment has limited sunlight and the re...,3,35.5,85813,133269
153,579,l-4brn1q68tp8k,11238,1S,rental unit,3.0,NaN,5500,Limited natural light,This apartment has limited sunlight and the re...,1,35.3,67950,114427
160,632,l-1ts5anpgrdrk,11238,4,rental unit,4.0,NaN,5900,Moderate sunlight,This apartment has moderate sunlight and the r...,4,35.3,67950,114427
163,695,l-7u0vaugt03jf,11238,4L,rental unit,3.0,1100.0,3850,Bright & sun drenched,This apartment is bright & sun-drenched and th...,4,35.3,67950,114427
164,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,2,35.3,67950,114427

In [95]:
sun_exposure_per_zipcode = filtered_sun_exposure.groupby('zipcode')['sun_exposure_cat'].unique()
sun_exposure_per_zipcode

for zipcode, sun_exposure in sun_exposure_per_zipcode.items():
    print(f"For zipcode {zipcode}, the available sun exposure categories are: {sun_exposure}")
    print("--------")

For zipcode 11215, the available sun exposure categories are: ['Moderate sunlight' 'Limited natural light' 'Bright & sun drenched']
--------
For zipcode 11217, the available sun exposure categories are: ['Moderate sunlight' 'Limited natural light']
--------
For zipcode 11225, the available sun exposure categories are: ['Limited natural light']
--------
For zipcode 11238, the available sun exposure categories are: ['Bright & sun drenched' 'Limited natural light' 'Moderate sunlight']
--------

In [96]:
df_merged.groupby(['zipcode', 'sun_exposure_cat'])['rent'].describe()

                               count         mean          std     min  \
zipcode sun_exposure_cat
11215   Bright & sun drenched    3.0  2874.000000   474.581921  2600.0
        Limited natural light    4.0  4373.750000   476.539173  4000.0
        Moderate sunlight        6.0  4098.333333  1501.468170  2950.0
        No sunlight data        38.0  3752.184211  1726.856382  2025.0
11217   Limited natural light    6.0  4540.833333  2033.593904  2800.0
        Moderate sunlight        1.0  2800.000000          NaN  2800.0
        No sunlight data        35.0  4142.000000   882.366037  3000.0
11218   No sunlight data         2.0  3050.000000   282.842712  2850.0
11225   Limited natural light    3.0  2861.666667  1674.315781  1895.0
        No sunlight data         7.0  3455.142857  1126.808979  2520.0
11226   No sunlight data        30.0  3073.200000   466.162204  2350.0
11238   Bright & sun drenched    5.0  4530.000000   380.131556  3850.0
        Limited natural light    1.0  5500.000000          NaN  5500.0
        Moderate sunlight        2.0  4900.000000  1414.213562  3900.0
        No sunlight data        28.0  4084.892857   999.892933  2800.0

                                  25%     50%      75%     max
zipcode sun_exposure_cat
11215   Bright & sun drenched  2600.0  2600.0  3011.00  3422.0
        Limited natural light  4000.0  4250.0  4623.75  4995.0
        Moderate sunlight      2950.0  3350.0  5433.75  5995.0
        No sunlight data       2600.0  3300.0  4375.00  8700.0
11217   Limited natural light  2800.0  3897.5  6386.25  7000.0
        Moderate sunlight      2800.0  2800.0  2800.00  2800.0
        No sunlight data       3400.0  4100.0  4700.00  6534.0
11218   No sunlight data       2950.0  3050.0  3150.00  3250.0
11225   Limited natural light  1895.0  1895.0  3345.00  4795.0
        No sunlight data       2520.0  3300.0  3863.00  5600.0
11226   No sunlight data       2800.0  2875.0  3290.00  4500.0
11238   Bright & sun drenched  4700.0  4700.0  4700.00  4700.0
        Limited natural light  5500.0  5500.0  5500.00  5500.0
        Moderate sunlight      4400.0  4900.0  5400.00  5900.0
        No sunlight data       3350.0  4000.0  4300.00  6245.0

In [97]:
(df_merged
     .groupby(['zipcode', 'sun_exposure_cat'])['rent']
     .median())

zipcode  sun_exposure_cat
11215    Bright & sun drenched    2600.0
         Limited natural light    4250.0
         Moderate sunlight        3350.0
         No sunlight data         3300.0
11217    Limited natural light    3897.5
         Moderate sunlight        2800.0
         No sunlight data         4100.0
11218    No sunlight data         3050.0
11225    Limited natural light    1895.0
         No sunlight data         3300.0
11226    No sunlight data         2875.0
11238    Bright & sun drenched    4700.0
         Limited natural light    5500.0
         Moderate sunlight        4900.0
         No sunlight data         4000.0
Name: rent, dtype: float64

In [98]:
(df_merged
     .groupby(['zipcode','beds', 'sun_exposure_cat' ])['rent']
     .describe()
)

                                    count         mean          std     min  \
zipcode beds sun_exposure_cat
11215   0.0  Bright & sun drenched    1.0  3422.000000          NaN  3422.0
             Moderate sunlight        3.0  2950.000000     0.000000  2950.0
             No sunlight data         6.0  2562.500000   966.792377  2025.0
        1.0  Bright & sun drenched    2.0  2600.000000     0.000000  2600.0
             Moderate sunlight        1.0  3750.000000          NaN  3750.0
             No sunlight data        16.0  3079.250000   616.773594  2153.0
        1.5  No sunlight data         2.0  2600.000000     0.000000  2600.0
        2.0  No sunlight data        10.0  4444.000000  1499.815989  2850.0
        2.5  Limited natural light    2.0  4000.000000     0.000000  4000.0
        3.0  Limited natural light    2.0  4747.500000   350.017857  4500.0
             No sunlight data         4.0  7075.000000  2030.394050  4500.0
        4.0  Moderate sunlight        2.0  5995.000000     0.000000  5995.0
11217   0.0  No sunlight data        12.0  3430.250000   142.622913  3258.0
        1.0  Limited natural light    3.0  2800.000000     0.000000  2800.0
             No sunlight data        16.0  4126.437500   592.932820  3000.0
        2.0  Limited natural light    3.0  6281.666667  1116.807205  4995.0
             Moderate sunlight        1.0  2800.000000          NaN  2800.0
             No sunlight data         5.0  5656.800000   818.340516  4400.0
        3.0  No sunlight data         2.0  4750.000000     0.000000  4750.0
11218   1.0  No sunlight data         1.0  2850.000000          NaN  2850.0
        2.0  No sunlight data         1.0  3250.000000          NaN  3250.0
11225   0.0  No sunlight data         3.0  2520.000000     0.000000  2520.0
        1.0  Limited natural light    2.0  1895.000000     0.000000  1895.0
             No sunlight data         1.0  3300.000000          NaN  3300.0
        2.0  No sunlight data         1.0  4000.000000          NaN  4000.0
        3.0  No sunlight data         2.0  4663.000000  1325.118108  3726.0
        4.0  Limited natural light    1.0  4795.000000          NaN  4795.0
11226   0.0  No sunlight data         3.0  2456.666667   184.752086  2350.0
        1.0  No sunlight data        18.0  2904.444444   151.391671  2800.0
        2.0  No sunlight data         7.0  3513.428571   448.024500  3200.0
        3.0  No sunlight data         2.0  3976.000000     0.000000  3976.0
11238   0.0  No sunlight data         8.0  3179.375000   453.111761  2800.0
        1.0  No sunlight data         7.0  3971.428571   345.032780  3500.0
        2.0  Bright & sun drenched    4.0  4700.000000     0.000000  4700.0
             Moderate sunlight        1.0  3900.000000          NaN  3900.0
             No sunlight data        13.0  4703.230769  1049.702272  3350.0
        3.0  Bright & sun drenched    1.0  3850.000000          NaN  3850.0
             Limited natural light    1.0  5500.000000          NaN  5500.0
        4.0  Moderate sunlight        1.0  5900.000000          NaN  5900.0

                                        25%     50%      75%     max
zipcode beds sun_exposure_cat
11215   0.0  Bright & sun drenched  3422.00  3422.0  3422.00  3422.0
             Moderate sunlight      2950.00  2950.0  2950.00  2950.0
             No sunlight data       2025.00  2212.5  2400.00  4500.0
        1.0  Bright & sun drenched  2600.00  2600.0  2600.00  2600.0
             Moderate sunlight      3750.00  3750.0  3750.00  3750.0
             No sunlight data       2575.00  3150.0  3400.00  4690.0
        1.5  No sunlight data       2600.00  2600.0  2600.00  2600.0
        2.0  No sunlight data       3437.25  3999.5  4869.75  7995.0
        2.5  Limited natural light  4000.00  4000.0  4000.00  4000.0
        3.0  Limited natural light  4623.75  4747.5  4871.25  4995.0
             No sunlight data       5925.00  7550.0  8700.00  8700.0
        4.0  Moderate sunlight      5995.00  5995.0  5995.00  5995.0
11217   0.0  No sunlight data       3300.00  3400.0  3565.25  3656.0
        1.0  Limited natural light  2800.00  2800.0  2800.00  2800.0
             No sunlight data       4000.00  4200.0  4588.25  4800.0
        2.0  Limited natural light  5922.50  6850.0  6925.00  7000.0
             Moderate sunlight      2800.00  2800.0  2800.00  2800.0
             No sunlight data       5400.00  5800.0  6150.00  6534.0
        3.0  No sunlight data       4750.00  4750.0  4750.00  4750.0
11218   1.0  No sunlight data       2850.00  2850.0  2850.00  2850.0
        2.0  No sunlight data       3250.00  3250.0  3250.00  3250.0
11225   0.0  No sunlight data       2520.00  2520.0  2520.00  2520.0
        1.0  Limited natural light  1895.00  1895.0  1895.00  1895.0
             No sunlight data       3300.00  3300.0  3300.00  3300.0
        2.0  No sunlight data       4000.00  4000.0  4000.00  4000.0
        3.0  No sunlight data       4194.50  4663.0  5131.50  5600.0
        4.0  Limited natural light  4795.00  4795.0  4795.00  4795.0
11226   0.0  No sunlight data       2350.00  2350.0  2510.00  2670.0
        1.0  No sunlight data       2800.00  2866.0  2938.00  3290.0
        2.0  No sunlight data       3300.00  3400.0  3447.00  4500.0
        3.0  No sunlight data       3976.00  3976.0  3976.00  3976.0
11238   0.0  No sunlight data       2912.50  2997.5  3298.75  3895.0
        1.0  No sunlight data       3750.00  4000.0  4250.00  4300.0
        2.0  Bright & sun drenched  4700.00  4700.0  4700.00  4700.0
             Moderate sunlight      3900.00  3900.0  3900.00  3900.0
             No sunlight data       4000.00  4222.0  5095.00  6245.0
        3.0  Bright & sun drenched  3850.00  3850.0  3850.00  3850.0
             Limited natural light  5500.00  5500.0  5500.00  5500.0
        4.0  Moderate sunlight      5900.00  5900.0  5900.00  5900.0

In [99]:
(filtered_sun_exposure
     .groupby(['zipcode','beds', 'sun_exposure_cat' ])['rent']
     .describe()
)

                                    count         mean          std     min  \
zipcode beds sun_exposure_cat
11215   0.0  Bright & sun drenched    1.0  3422.000000          NaN  3422.0
             Moderate sunlight        3.0  2950.000000     0.000000  2950.0
        1.0  Bright & sun drenched    2.0  2600.000000     0.000000  2600.0
             Moderate sunlight        1.0  3750.000000          NaN  3750.0
        2.5  Limited natural light    2.0  4000.000000     0.000000  4000.0
        3.0  Limited natural light    2.0  4747.500000   350.017857  4500.0
        4.0  Moderate sunlight        2.0  5995.000000     0.000000  5995.0
11217   1.0  Limited natural light    3.0  2800.000000     0.000000  2800.0
        2.0  Limited natural light    3.0  6281.666667  1116.807205  4995.0
             Moderate sunlight        1.0  2800.000000          NaN  2800.0
11225   1.0  Limited natural light    2.0  1895.000000     0.000000  1895.0
        4.0  Limited natural light    1.0  4795.000000          NaN  4795.0
11238   2.0  Bright & sun drenched    4.0  4700.000000     0.000000  4700.0
             Moderate sunlight        1.0  3900.000000          NaN  3900.0
        3.0  Bright & sun drenched    1.0  3850.000000          NaN  3850.0
             Limited natural light    1.0  5500.000000          NaN  5500.0
        4.0  Moderate sunlight        1.0  5900.000000          NaN  5900.0

                                        25%     50%      75%     max
zipcode beds sun_exposure_cat
11215   0.0  Bright & sun drenched  3422.00  3422.0  3422.00  3422.0
             Moderate sunlight      2950.00  2950.0  2950.00  2950.0
        1.0  Bright & sun drenched  2600.00  2600.0  2600.00  2600.0
             Moderate sunlight      3750.00  3750.0  3750.00  3750.0
        2.5  Limited natural light  4000.00  4000.0  4000.00  4000.0
        3.0  Limited natural light  4623.75  4747.5  4871.25  4995.0
        4.0  Moderate sunlight      5995.00  5995.0  5995.00  5995.0
11217   1.0  Limited natural light  2800.00  2800.0  2800.00  2800.0
        2.0  Limited natural light  5922.50  6850.0  6925.00  7000.0
             Moderate sunlight      2800.00  2800.0  2800.00  2800.0
11225   1.0  Limited natural light  1895.00  1895.0  1895.00  1895.0
        4.0  Limited natural light  4795.00  4795.0  4795.00  4795.0
11238   2.0  Bright & sun drenched  4700.00  4700.0  4700.00  4700.0
             Moderate sunlight      3900.00  3900.0  3900.00  3900.0
        3.0  Bright & sun drenched  3850.00  3850.0  3850.00  3850.0
             Limited natural light  5500.00  5500.0  5500.00  5500.0
        4.0  Moderate sunlight      5900.00  5900.0  5900.00  5900.0

## Affordability for Living Alone

In [100]:
(filtered_sun_exposure
     .groupby(['zipcode'])['per capita income']
     .median()
)

zipcode
11215    87707.0
11217    85813.0
11225    41497.0
11238    67950.0
Name: per capita income, dtype: float64

In [101]:
df_merged['affordable_rent_single'] = df_merged['per capita income'] / 40
df_merged['affordable_rent_couple'] = df_merged['median household income']/40

In [102]:
df_merged['is_affordable_individual'] = df_merged['rent'] <= df_merged['affordable_rent_single']
df_merged['is_affordable_couple']= df_merged['rent'] <= df_merged['affordable_rent_couple']

In [103]:
df_merged.head()

,index,listing_path,zipcode,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,floor,median age,per capita income,median household income,affordable_rent_single,affordable_rent_couple,is_affordable_individual,is_affordable_couple
0,0,l-2g3vm2ptsq8i,11225,2,rental unit,3.0,NaN,3726,No sunlight data,No sunlight data available and the rent is 3726,2,36.1,41497,68542,1037.425,1713.550,False,False
1,1,l-2in0401r3l0j,11215,1B,rental unit,2.0,NaN,4500,No sunlight data,No sunlight data available and the rent is 4500,1,37.0,87707,156930,2192.675,3923.250,False,False
2,3,l-dgbncnljpk2t,11217,B2,rental unit,3.0,900.0,4750,No sunlight data,No sunlight data available and the rent is 4750,2,35.5,85813,133269,2145.325,3331.725,False,False
3,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,3,37.0,87707,156930,2192.675,3923.250,False,True
4,200,l-ok0278ecbrpc,11217,312,rental unit,1.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,3,35.5,85813,133269,2145.325,3331.725,False,False

In [104]:
indiv_affordability_by_zipcode = df_merged.groupby('zipcode')['is_affordable_individual'].mean()

In [105]:
indiv_affordability_by_zipcode

zipcode
11215    0.078431
11217    0.000000
11218    0.000000
11225    0.000000
11226    0.000000
11238    0.000000
Name: is_affordable_individual, dtype: float64

In [106]:
filtered_sun_exposure = df_merged[df_merged['sun_exposure_cat'] != 'No sunlight data']

In [107]:
filtered_sun_exposure.groupby('zipcode')['is_affordable_individual'].mean()

zipcode
11215    0.0
11217    0.0
11225    0.0
11238    0.0
Name: is_affordable_individual, dtype: float64

In [108]:
df_merged['rent_difference_single'] = df_merged['rent'] - df_merged['affordable_rent_single']

In [109]:
df_merged

,index,listing_path,zipcode,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,floor,median age,per capita income,median household income,affordable_rent_single,affordable_rent_couple,is_affordable_individual,is_affordable_couple,rent_difference_single
0,0,l-2g3vm2ptsq8i,11225,2,rental unit,3.0,NaN,3726,No sunlight data,No sunlight data available and the rent is 3726,2,36.1,41497,68542,1037.425,1713.550,False,False,2688.575
1,1,l-2in0401r3l0j,11215,1B,rental unit,2.0,NaN,4500,No sunlight data,No sunlight data available and the rent is 4500,1,37.0,87707,156930,2192.675,3923.250,False,False,2307.325
2,3,l-dgbncnljpk2t,11217,B2,rental unit,3.0,900.0,4750,No sunlight data,No sunlight data available and the rent is 4750,2,35.5,85813,133269,2145.325,3331.725,False,False,2604.675
3,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,3,37.0,87707,156930,2192.675,3923.250,False,True,1557.325
4,200,l-ok0278ecbrpc,11217,312,rental unit,1.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,3,35.5,85813,133269,2145.325,3331.725,False,False,1854.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,734,l-ue6jib37qqnf,11238,4,rental unit,1.0,NaN,3500,No sunlight data,No sunlight data available and the rent is 3500,4,35.3,67950,114427,1698.750,2860.675,False,False,1801.250
167,757,l-metf0tnqb3oa,11238,6B,rental unit,2.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,6,35.3,67950,114427,1698.750,2860.675,False,False,2301.250
168,781,l-qtrv180v4kc8,11238,504,rental unit,1.0,NaN,3500,No sunlight data,No sunlight data available and the rent is 3500,5,35.3,67950,114427,1698.750,2860.675,False,False,1801.250
169,782,l-v22eed67chvl,11238,501,rental unit,2.0,NaN,4200,No sunlight data,No sunlight data available and the rent is 4200,5,35.3,67950,114427,1698.750,2860.675,False,False,2501.250
170,783,l-rk0ue9fad9jb,11238,404,rental unit,0.0,NaN,2995,No sunlight data,No sunlight data available and the rent is 2995,4,35.3,67950,114427,1698.750,2860.675,False,False,1296.250

In [110]:
indiv_average_rent_difference_by_zipcode = df_merged.groupby('zipcode')['rent_difference_single'].mean()

In [111]:
indiv_average_rent_difference_by_zipcode.round()

zipcode
11215    1597.0
11217    2022.0
11218    1972.0
11225    2240.0
11226    2215.0
11238    2533.0
Name: rent_difference_single, dtype: float64

In [112]:
# Calculate average rent and rent_difference for each zipcode
df_avg_single = df_merged.groupby('zipcode')[['rent', 'affordable_rent_single']].mean().reset_index()

# Melt the DataFrame to long format
df_melted_single = df_avg_single.melt(id_vars='zipcode', value_vars=['rent', 'affordable_rent_single'])

# Create small multiple bar charts
chart = alt.Chart(df_melted_single).mark_bar().encode(
    x='variable:N',  # variable column contains 'rent' and 'rent_difference'
    y='value:Q',  # value column contains the corresponding values
    color='variable:N',
    column='zipcode:N'
).properties(
    width=200,
    height=200
)

chart

alt.Chart(...)

In [113]:
# Calculate average rent, affordable rent and rent_difference for each zipcode
df_avg_single = df_merged.groupby('zipcode')[['rent', 'affordable_rent_single', 'rent_difference_single']].mean().reset_index()

# Melt the DataFrame to long format
df_melted_single = df_avg_single.melt(id_vars='zipcode', value_vars=['rent', 'affordable_rent_single', 'rent_difference_single'])

# Create small multiple grouped bar charts
chart = alt.Chart(df_melted_single).mark_bar().encode(
    x='variable:N',  # variable column contains 'rent', 'affordable_rent' and 'rent_difference'
    y='value:Q',  # value column contains the corresponding values
    color='variable:N',
    column='zipcode:N'
).properties(
    width=200,
    height=200
)

chart

alt.Chart(...)

In [114]:
df_merged['annualized_rent']=(df_merged['rent']*12)

In [115]:
df_merged['indiv_affordability_to_rent_ratio'] = df_merged['affordable_rent_single']/(df_merged['rent'])

In [116]:
df_merged

,index,listing_path,zipcode,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,...,median age,per capita income,median household income,affordable_rent_single,affordable_rent_couple,is_affordable_individual,is_affordable_couple,rent_difference_single,annualized_rent,indiv_affordability_to_rent_ratio
0,0,l-2g3vm2ptsq8i,11225,2,rental unit,3.0,NaN,3726,No sunlight data,No sunlight data available and the rent is 3726,...,36.1,41497,68542,1037.425,1713.550,False,False,2688.575,44712,0.278429
1,1,l-2in0401r3l0j,11215,1B,rental unit,2.0,NaN,4500,No sunlight data,No sunlight data available and the rent is 4500,...,37.0,87707,156930,2192.675,3923.250,False,False,2307.325,54000,0.487261
2,3,l-dgbncnljpk2t,11217,B2,rental unit,3.0,900.0,4750,No sunlight data,No sunlight data available and the rent is 4750,...,35.5,85813,133269,2145.325,3331.725,False,False,2604.675,57000,0.451647
3,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,37.0,87707,156930,2192.675,3923.250,False,True,1557.325,45000,0.584713
4,200,l-ok0278ecbrpc,11217,312,rental unit,1.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,...,35.5,85813,133269,2145.325,3331.725,False,False,1854.675,48000,0.536331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,734,l-ue6jib37qqnf,11238,4,rental unit,1.0,NaN,3500,No sunlight data,No sunlight data available and the rent is 3500,...,35.3,67950,114427,1698.750,2860.675,False,False,1801.250,42000,0.485357
167,757,l-metf0tnqb3oa,11238,6B,rental unit,2.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,...,35.3,67950,114427,1698.750,2860.675,False,False,2301.250,48000,0.424687
168,781,l-qtrv180v4kc8,11238,504,rental unit,1.0,NaN,3500,No sunlight data,No sunlight data available and the rent is 3500,...,35.3,67950,114427,1698.750,2860.675,False,False,1801.250,42000,0.485357
169,782,l-v22eed67chvl,11238,501,rental unit,2.0,NaN,4200,No sunlight data,No sunlight data available and the rent is 4200,...,35.3,67950,114427,1698.750,2860.675,False,False,2501.250,50400,0.404464
170,783,l-rk0ue9fad9jb,11238,404,rental unit,0.0,NaN,2995,No sunlight data,No sunlight data available and the rent is 2995,...,35.3,67950,114427,1698.750,2860.675,False,False,1296.250,35940,0.567195

In [117]:
def map_ratio_to_icon(ratio):
    if ratio <= 0.5:
        return '🌗'  # Half sun (replace with your own icon)
    elif ratio <= 1:
        return '🌞'  # Full sun (replace with your own icon)
    else:
        return f'{ratio:.1f}🌞'  # More than 1 full sun

df_merged['indiv_sun_exposure_icon'] = df_merged['indiv_affordability_to_rent_ratio'].apply(map_ratio_to_icon)

In [118]:
df_merged

,index,listing_path,zipcode,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,...,per capita income,median household income,affordable_rent_single,affordable_rent_couple,is_affordable_individual,is_affordable_couple,rent_difference_single,annualized_rent,indiv_affordability_to_rent_ratio,indiv_sun_exposure_icon
0,0,l-2g3vm2ptsq8i,11225,2,rental unit,3.0,NaN,3726,No sunlight data,No sunlight data available and the rent is 3726,...,41497,68542,1037.425,1713.550,False,False,2688.575,44712,0.278429,🌗
1,1,l-2in0401r3l0j,11215,1B,rental unit,2.0,NaN,4500,No sunlight data,No sunlight data available and the rent is 4500,...,87707,156930,2192.675,3923.250,False,False,2307.325,54000,0.487261,🌗
2,3,l-dgbncnljpk2t,11217,B2,rental unit,3.0,900.0,4750,No sunlight data,No sunlight data available and the rent is 4750,...,85813,133269,2145.325,3331.725,False,False,2604.675,57000,0.451647,🌗
3,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,87707,156930,2192.675,3923.250,False,True,1557.325,45000,0.584713,🌞
4,200,l-ok0278ecbrpc,11217,312,rental unit,1.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,...,85813,133269,2145.325,3331.725,False,False,1854.675,48000,0.536331,🌞
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,734,l-ue6jib37qqnf,11238,4,rental unit,1.0,NaN,3500,No sunlight data,No sunlight data available and the rent is 3500,...,67950,114427,1698.750,2860.675,False,False,1801.250,42000,0.485357,🌗
167,757,l-metf0tnqb3oa,11238,6B,rental unit,2.0,NaN,4000,No sunlight data,No sunlight data available and the rent is 4000,...,67950,114427,1698.750,2860.675,False,False,2301.250,48000,0.424687,🌗
168,781,l-qtrv180v4kc8,11238,504,rental unit,1.0,NaN,3500,No sunlight data,No sunlight data available and the rent is 3500,...,67950,114427,1698.750,2860.675,False,False,1801.250,42000,0.485357,🌗
169,782,l-v22eed67chvl,11238,501,rental unit,2.0,NaN,4200,No sunlight data,No sunlight data available and the rent is 4200,...,67950,114427,1698.750,2860.675,False,False,2501.250,50400,0.404464,🌗
170,783,l-rk0ue9fad9jb,11238,404,rental unit,0.0,NaN,2995,No sunlight data,No sunlight data available and the rent is 2995,...,67950,114427,1698.750,2860.675,False,False,1296.250,35940,0.567195,🌞

In [119]:
df_merged.groupby(['indiv_sun_exposure_icon','zipcode']).count()

                                 index  listing_path  unit_number  \
indiv_sun_exposure_icon zipcode
1.0🌞                    11215        1             1            1
1.1🌞                    11215        3             3            3
🌗                       11215       14            14           14
                        11217       17            17           17
                        11218        2             2            2
                        11225        8             8            8
                        11226       30            30           30
                        11238       28            28           28
🌞                       11215       33            33           33
                        11217       25            25           25
                        11225        2             2            2
                        11238        8             8            8

                                 building_class  beds  size  rent  \
indiv_sun_exposure_icon zipcode
1.0🌞                    11215                 1     1     0     1
1.1🌞                    11215                 3     3     3     3
🌗                       11215                14    14     3    14
                        11217                17    17     4    17
                        11218                 2     2     0     2
                        11225                 8     8     4     8
                        11226                30    30     1    30
                        11238                28    28     6    28
🌞                       11215                33    33     9    33
                        11217                25    25     5    25
                        11225                 2     2     0     2
                        11238                 8     8     0     8

                                 sun_exposure_cat  sun_exposure  floor  \
indiv_sun_exposure_icon zipcode
1.0🌞                    11215                   1             1      1
1.1🌞                    11215                   3             3      3
🌗                       11215                  14            14     14
                        11217                  17            17     16
                        11218                   2             2      2
                        11225                   8             8      8
                        11226                  30            30     30
                        11238                  28            28     28
🌞                       11215                  33            33     33
                        11217                  25            25     24
                        11225                   2             2      2
                        11238                   8             8      8

                                 median age  per capita income  \
indiv_sun_exposure_icon zipcode
1.0🌞                    11215             1                  1
1.1🌞                    11215             3                  3
🌗                       11215            14                 14
                        11217            17                 17
                        11218             2                  2
                        11225             8                  8
                        11226            30                 30
                        11238            28                 28
🌞                       11215            33                 33
                        11217            25                 25
                        11225             2                  2
                        11238             8                  8

                                 median household income  \
indiv_sun_exposure_icon zipcode
1.0🌞                    11215                          1
1.1🌞                    11215                          3
🌗                       11215                         14
                        11217                         17
                        11218                          2
                        11225                          8
                        11226                         30
                        11238                         28
🌞                       11215                         33
                        11217                         25
                        11225                          2
                        11238                          8

                                 affordable_rent_single  \
indiv_sun_exposure_icon zipcode
1.0🌞                    11215                         1
1.1🌞                    11215                         3
🌗                       11215                        14
                        11217                        17
                        11218                         2
                        11225                         8
                        11226                        30
                        11238                        28
🌞                       11215                        33
                        11217                        25
                        11225                         2
                        11238                         8

                                 affordable_rent_couple  \
indiv_sun_exposure_icon zipcode
1.0🌞                    11215                         1
1.1🌞                    11215                         3
🌗                       11215                        14
                        11217                        17
                        11218                         2
                        11225                         8
                        11226                        30
                        11238                        28
🌞                       11215                        33
                        11217                        25
                        11225                         2
                        11238                         8

                                 is_affordable_individual  \
indiv_sun_exposure_icon zipcode
1.0🌞                    11215                           1
1.1🌞                    11215                           3
🌗                       11215                          14
                        11217                          17
                        11218                           2
                        11225                           8
                        11226                          30
                        11238                          28
🌞                       11215                          33
                        11217                          25
                        11225                           2
                        11238                           8

                                 is_affordable_couple  rent_difference_single  \
indiv_sun_exposure_icon zipcode
1.0🌞                    11215                       1                       1
1.1🌞                    11215                       3                       3
🌗                       11215                      14                      14
                        11217                      17                      17
                        11218                       2                       2
                        11225                       8                       8
                        11226                      30                      30
                        11238                      28                      28
🌞                       11215                      33                      33
                        11217                      25                      25
                        11225                       2                       2
                        11238                       8                       8

                                 annualized_rent  \
indiv_sun_exposure_icon zipcode
1.0🌞                    11215                  1
1.1🌞                    11215                  3
🌗                       11215                 14
                        11217                 17
                        11218                  2
                        11225                  8
                        11226                 30
                        11238                 28
🌞                       11215                 33
                        11217                 25
                        11225                  2
                        11238                  8

                                 indiv_affordability_to_rent_ratio
indiv_sun_exposure_icon zipcode
1.0🌞                    11215                                    1
1.1🌞                    11215                                    3
🌗                       11215                                   14
                        11217                                   17
                        11218                                    2
                        11225                                    8
                        11226                                   30
                        11238                                   28
🌞                       11215                                   33
                        11217                                   25
                        11225                                    2
                        11238                                    8

In [120]:
(df_merged[df_merged['sun_exposure_cat']!= 'No sunlight data']
     .groupby(['indiv_sun_exposure_icon','zipcode'])
     .size()
)

indiv_sun_exposure_icon  zipcode
🌗                        11215      4
                         11217      3
                         11225      1
                         11238      8
🌞                        11215      9
                         11217      4
                         11225      2
dtype: int64

## Affordability for Couples

In [121]:
(filtered_sun_exposure
     .groupby(['zipcode'])['median household income']
     .median()
)

zipcode
11215    156930.0
11217    133269.0
11225     68542.0
11238    114427.0
Name: median household income, dtype: float64

In [122]:
coup_affordability_by_zipcode = df_merged.groupby('zipcode')['is_affordable_couple'].mean()
coup_affordability_by_zipcode

zipcode
11215    0.627451
11217    0.261905
11218    0.000000
11225    0.000000
11226    0.000000
11238    0.055556
Name: is_affordable_couple, dtype: float64

In [123]:
df_merged['rent_difference_couple'] = df_merged['rent'] - df_merged['affordable_rent_couple']

In [124]:
coup_average_rent_difference_by_zipcode = df_merged.groupby('zipcode')['rent_difference_couple'].mean()

In [125]:
coup_average_rent_difference_by_zipcode

zipcode
11215    -133.250000
11217     835.298810
11218    1003.575000
11225    1563.550000
11226    1418.875000
11238    1370.630556
Name: rent_difference_couple, dtype: float64

In [126]:
coup_average_rent_difference_by_zipcode.round()

zipcode
11215    -133.0
11217     835.0
11218    1004.0
11225    1564.0
11226    1419.0
11238    1371.0
Name: rent_difference_couple, dtype: float64

In [127]:
# Calculate average rent and rent_difference for each zipcode
df_avg_couple = df_merged.groupby('zipcode')[['rent', 'affordable_rent_couple']].mean().reset_index()

# Melt the DataFrame to long format
df_melted_couple = df_avg_couple.melt(id_vars='zipcode', value_vars=['rent', 'affordable_rent_couple'])

# Create small multiple bar charts
chart = alt.Chart(df_melted_couple).mark_bar().encode(
    x='variable:N',  # variable column contains 'rent' and 'rent_difference'
    y='value:Q',  # value column contains the corresponding values
    color='variable:N',
    column='zipcode:N'
).properties(
    width=200,
    height=200
)

chart

alt.Chart(...)

In [128]:
# Calculate average rent, affordable rent and rent_difference for each zipcode
df_avg_couple = df_merged.groupby('zipcode')[['rent', 'affordable_rent_couple', 'rent_difference_couple']].mean().reset_index()

# Melt the DataFrame to long format
df_melted_couple = df_avg_couple.melt(id_vars='zipcode', value_vars=['rent', 'affordable_rent_couple', 'rent_difference_couple'])

# Create small multiple grouped bar charts
chart = alt.Chart(df_melted_couple).mark_bar().encode(
    x='variable:N',  # variable column contains 'rent', 'affordable_rent' and 'rent_difference'
    y='value:Q',  # value column contains the corresponding values
    color='variable:N',
    column='zipcode:N'
).properties(
    width=200,
    height=200
)

chart

alt.Chart(...)

In [129]:
df_merged['coup_affordability_to_rent_ratio'] = df_merged['affordable_rent_couple']/(df_merged['rent'])

In [130]:
def map_ratio_to_icon(ratio):
    if ratio < 0:
        return '☔'  # Using umbrella icon to denote negative rent difference
    elif ratio <= 0.5:
        return '🌗'  # Half sun (replace with your own icon)
    elif ratio <= 1:
        return '🌞'  # Full sun (replace with your own icon)
    else:
        return f'{ratio:.1f}🌞'  # More than 1 full sun

df_merged['coup_sun_exposure_icon'] = df_merged['coup_affordability_to_rent_ratio'].apply(map_ratio_to_icon)

In [131]:
df_merged.groupby(['zipcode','coup_sun_exposure_icon']).count()

                                index  listing_path  unit_number  \
zipcode coup_sun_exposure_icon
11215   1.0🌞                        1             1            1
        1.1🌞                        3             3            3
        1.2🌞                        8             8            8
        1.3🌞                        4             4            4
        1.4🌞                        1             1            1
        1.5🌞                        6             6            6
        1.6🌞                        5             5            5
        1.8🌞                        1             1            1
        1.9🌞                        3             3            3
        🌗                           3             3            3
        🌞                          16            16           16
11217   1.0🌞                        4             4            4
        1.1🌞                        3             3            3
        1.2🌞                        4             4            4
        🌗                           2             2            2
        🌞                          29            29           29
11218   🌞                           2             2            2
11225   🌗                           4             4            4
        🌞                           6             6            6
11226   🌗                           7             7            7
        🌞                          23            23           23
11238   1.0🌞                        2             2            2
        🌗                           4             4            4
        🌞                          30            30           30

                                building_class  beds  size  rent  \
zipcode coup_sun_exposure_icon
11215   1.0🌞                                 1     1     0     1
        1.1🌞                                 3     3     0     3
        1.2🌞                                 8     8     2     8
        1.3🌞                                 4     4     0     4
        1.4🌞                                 1     1     1     1
        1.5🌞                                 6     6     2     6
        1.6🌞                                 5     5     2     5
        1.8🌞                                 1     1     0     1
        1.9🌞                                 3     3     3     3
        🌗                                    3     3     1     3
        🌞                                   16    16     4    16
11217   1.0🌞                                 4     4     0     4
        1.1🌞                                 3     3     0     3
        1.2🌞                                 4     4     3     4
        🌗                                    2     2     1     2
        🌞                                   29    29     5    29
11218   🌞                                    2     2     0     2
11225   🌗                                    4     4     3     4
        🌞                                    6     6     1     6
11226   🌗                                    7     7     1     7
        🌞                                   23    23     0    23
11238   1.0🌞                                 2     2     0     2
        🌗                                    4     4     0     4
        🌞                                   30    30     6    30

                                sun_exposure_cat  sun_exposure  floor  ...  \
zipcode coup_sun_exposure_icon                                         ...
11215   1.0🌞                                   1             1      1  ...
        1.1🌞                                   3             3      3  ...
        1.2🌞                                   8             8      8  ...
        1.3🌞                                   4             4      4  ...
        1.4🌞                                   1             1      1  ...
        1.5🌞                                   6             6      6  ...
        1.6🌞                                   5             5      5  ...
        1.8🌞                                   1             1      1  ...
        1.9🌞                                   3             3      3  ...
        🌗                                      3             3      3  ...
        🌞                                     16            16     16  ...
11217   1.0🌞                                   4             4      4  ...
        1.1🌞                                   3             3      3  ...
        1.2🌞                                   4             4      4  ...
        🌗                                      2             2      2  ...
        🌞                                     29            29     27  ...
11218   🌞                                      2             2      2  ...
11225   🌗                                      4             4      4  ...
        🌞                                      6             6      6  ...
11226   🌗                                      7             7      7  ...
        🌞                                     23            23     23  ...
11238   1.0🌞                                   2             2      2  ...
        🌗                                      4             4      4  ...
        🌞                                     30            30     30  ...

                                affordable_rent_single  \
zipcode coup_sun_exposure_icon
11215   1.0🌞                                         1
        1.1🌞                                         3
        1.2🌞                                         8
        1.3🌞                                         4
        1.4🌞                                         1
        1.5🌞                                         6
        1.6🌞                                         5
        1.8🌞                                         1
        1.9🌞                                         3
        🌗                                            3
        🌞                                           16
11217   1.0🌞                                         4
        1.1🌞                                         3
        1.2🌞                                         4
        🌗                                            2
        🌞                                           29
11218   🌞                                            2
11225   🌗                                            4
        🌞                                            6
11226   🌗                                            7
        🌞                                           23
11238   1.0🌞                                         2
        🌗                                            4
        🌞                                           30

                                affordable_rent_couple  \
zipcode coup_sun_exposure_icon
11215   1.0🌞                                         1
        1.1🌞                                         3
        1.2🌞                                         8
        1.3🌞                                         4
        1.4🌞                                         1
        1.5🌞                                         6
        1.6🌞                                         5
        1.8🌞                                         1
        1.9🌞                                         3
        🌗                                            3
        🌞                                           16
11217   1.0🌞                                         4
        1.1🌞                                         3
        1.2🌞                                         4
        🌗                                            2
        🌞                                           29
11218   🌞                                            2
11225   🌗                                            4
        🌞                                            6
11226   🌗                                            7
        🌞                                           23
11238   1.0🌞                                         2
        🌗                                            4
        🌞                                           30

                                is_affordable_individual  \
zipcode coup_sun_exposure_icon
11215   1.0🌞                                           1
        1.1🌞                                           3
        1.2🌞                                           8
        1.3🌞                                           4
        1.4🌞                                           1
        1.5🌞                                           6
        1.6🌞                                           5
        1.8🌞                                           1
        1.9🌞                                           3
        🌗                                              3
        🌞                                             16
11217   1.0🌞                                           4
        1.1🌞                                           3
        1.2🌞                                           4
        🌗                                              2
        🌞                                             29
11218   🌞                                              2
11225   🌗                                              4
        🌞                                              6
11226   🌗                                              7
        🌞                                             23
11238   1.0🌞                                           2
        🌗                                              4
        🌞                                             30

                                is_affordable_couple  rent_difference_single  \
zipcode coup_sun_exposure_icon
11215   1.0🌞                                       1                       1
        1.1🌞                                       3                       3
        1.2🌞                                       8                       8
        1.3🌞                                       4                       4
        1.4🌞                                       1                       1
        1.5🌞                                       6                       6
        1.6🌞                                       5                       5
        1.8🌞                                       1                       1
        1.9🌞                                       3                       3
        🌗                                          3                       3
        🌞                                         16                      16
11217   1.0🌞                                       4                       4
        1.1🌞                                       3                       3
        1.2🌞                                       4                       4
        🌗                                          2                       2
        🌞                                         29                      29
11218   🌞                                          2                       2
11225   🌗                                          4                       4
        🌞                                          6                       6
11226   🌗                                          7                       7
        🌞                                         23                      23
11238   1.0🌞                                       2                       2
        🌗                                          4                       4
        🌞                                         30                      30

                                annualized_rent  \
zipcode coup_sun_exposure_icon
11215   1.0🌞                                  1
        1.1🌞                                  3
        1.2🌞                                  8
        1.3🌞                                  4
        1.4🌞                                  1
        1.5🌞                                  6
        1.6🌞                                  5
        1.8🌞                                  1
        1.9🌞                                  3
        🌗                                     3
        🌞                                    16
11217   1.0🌞                                  4
        1.1🌞                                  3
        1.2🌞                                  4
        🌗                                     2
        🌞                                    29
11218   🌞                                     2
11225   🌗                                     4
        🌞                                     6
11226   🌗                                     7
        🌞                                    23
11238   1.0🌞                                  2
        🌗                                     4
        🌞                                    30

                                indiv_affordability_to_rent_ratio  \
zipcode coup_sun_exposure_icon
11215   1.0🌞                                                    1
        1.1🌞                                                    3
        1.2🌞                                                    8
        1.3🌞                                                    4
        1.4🌞                                                    1
        1.5🌞                                                    6
        1.6🌞                                                    5
        1.8🌞                                                    1
        1.9🌞                                                    3
        🌗                                                       3
        🌞                                                      16
11217   1.0🌞                                                    4
        1.1🌞                                                    3
        1.2🌞                                                    4
        🌗                                                       2
        🌞                                                      29
11218   🌞                                                       2
11225   🌗                                                       4
        🌞                                                       6
11226   🌗                                                       7
        🌞                                                      23
11238   1.0🌞                                                    2
        🌗                                                       4
        🌞                                                      30

                                indiv_sun_exposure_icon  \
zipcode coup_sun_exposure_icon
11215   1.0🌞                                          1
        1.1🌞                                          3
        1.2🌞                                          8
        1.3🌞                                          4
        1.4🌞                                          1
        1.5🌞                                          6
        1.6🌞                                          5
        1.8🌞                                          1
        1.9🌞                                          3
        🌗                                             3
        🌞                                            16
11217   1.0🌞                                          4
        1.1🌞                                          3
        1.2🌞                                          4
        🌗                                             2
        🌞                                            29
11218   🌞                                             2
11225   🌗                                             4
        🌞                                             6
11226   🌗                                             7
        🌞                                            23
11238   1.0🌞                                          2
        🌗                                             4
        🌞                                            30

                                rent_difference_couple  \
zipcode coup_sun_exposure_icon
11215   1.0🌞                                         1
        1.1🌞                                         3
        1.2🌞                                         8
        1.3🌞                                         4
        1.4🌞                                         1
        1.5🌞                                         6
        1.6🌞                                         5
        1.8🌞                                         1
        1.9🌞                                         3
        🌗                                            3
        🌞                                           16
11217   1.0🌞                                         4
        1.1🌞                                         3
        1.2🌞                                         4
        🌗                                            2
        🌞                                           29
11218   🌞                                            2
11225   🌗                                            4
        🌞                                            6
11226   🌗                                            7
        🌞                                           23
11238   1.0🌞                                         2
        🌗                                            4
        🌞                                           30

                                coup_affordability_to_rent_ratio
zipcode coup_sun_exposure_icon
11215   1.0🌞                                                   1
        1.1🌞                                                   3
        1.2🌞                                                   8
        1.3🌞                                                   4
        1.4🌞                                                   1
        1.5🌞                                                   6
        1.6🌞                                                   5
        1.8🌞                                                   1
        1.9🌞                                                   3
        🌗                                                      3
        🌞                                                     16
11217   1.0🌞                                                   4
        1.1🌞                                                   3
        1.2🌞                                                   4
        🌗                                                      2
        🌞                                                     29
11218   🌞                                                      2
11225   🌗                                                      4
        🌞                                                      6
11226   🌗                                                      7
        🌞                                                     23
11238   1.0🌞                                                   2
        🌗                                                      4
        🌞                                                     30

[24 rows x 23 columns]

In [132]:
# df_merged.to_csv('merged_sun_exposure.csv', index=False)

In [133]:
(df_merged[df_merged['sun_exposure_cat']!= 'No sunlight data']
     .groupby(['coup_sun_exposure_icon','zipcode'])
     .size()
)

coup_sun_exposure_icon  zipcode
1.0🌞                    11215      1
1.1🌞                    11215      1
1.2🌞                    11217      4
1.3🌞                    11215      3
1.5🌞                    11215      2
🌗                       11217      2
                        11225      1
                        11238      1
🌞                       11215      6
                        11217      1
                        11225      2
                        11238      7
dtype: int64

In [134]:
df_merged_filtered =df_merged[df_merged['sun_exposure_cat']!='No sunlight data']

In [135]:
df_merged_filtered.to_csv('filtered_merged_sun_exposure.csv', index = False)

In [136]:
df_merged_filtered

,index,listing_path,zipcode,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,...,affordable_rent_couple,is_affordable_individual,is_affordable_couple,rent_difference_single,annualized_rent,indiv_affordability_to_rent_ratio,indiv_sun_exposure_icon,rent_difference_couple,coup_affordability_to_rent_ratio,coup_sun_exposure_icon
3,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3923.250,False,True,1557.325,45000,0.584713,🌞,-173.250,1.046200,1.0🌞
15,213,l-4vkr066dfpsq,11217,1,rental unit,2.0,NaN,2800,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3331.725,False,True,654.675,33600,0.766187,🌞,-531.725,1.189902,1.2🌞
18,216,l-jlm1f9thn9hb,11225,1,rental unit,4.0,2000.0,4795,Limited natural light,This apartment has limited sunlight and the re...,...,1713.550,False,False,3757.575,57540,0.216356,🌗,3081.450,0.357362,🌗
23,227,l-mmegr1flhf1d,11225,2F,rental unit,1.0,NaN,1895,Limited natural light,This apartment has limited sunlight and the re...,...,1713.550,False,False,857.575,22740,0.547454,🌞,181.450,0.904248,🌞
32,241,l-155vl5l7p3mt,11215,3R,rental unit,2.5,900.0,4000,Limited natural light,This apartment has limited sunlight and the re...,...,3923.250,False,False,1807.325,48000,0.548169,🌞,76.750,0.980812,🌞
33,242,l-4b0n1hfp83tg,11215,5,rental unit,3.0,NaN,4500,Limited natural light,This apartment has limited sunlight and the re...,...,3923.250,False,False,2307.325,54000,0.487261,🌗,576.750,0.871833,🌞
36,245,l-52b5rnl1erg8,11215,5F,rental unit,3.0,NaN,4995,Limited natural light,This apartment has limited sunlight and the re...,...,3923.250,False,False,2802.325,59940,0.438974,🌗,1071.750,0.785435,🌞
38,250,l-phubtn46t7vj,11215,2C,rental unit,4.0,NaN,5995,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3923.250,False,False,3802.325,71940,0.365751,🌗,2071.750,0.654420,🌞
39,252,l-mmegr1flhf1d,11225,2F,rental unit,1.0,NaN,1895,Limited natural light,This apartment has limited sunlight and the re...,...,1713.550,False,False,857.575,22740,0.547454,🌞,181.450,0.904248,🌞
57,273,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,2860.675,False,False,3001.250,56400,0.361436,🌗,1839.325,0.608654,🌞
68,289,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,2860.675,False,False,3001.250,56400,0.361436,🌗,1839.325,0.608654,🌞
77,306,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,2860.675,False,False,3001.250,56400,0.361436,🌗,1839.325,0.608654,🌞
85,318,l-o45jb8pndlm4,11215,1R,rental unit,0.0,NaN,2950,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3923.250,False,True,757.325,35400,0.743280,🌞,-973.250,1.329915,1.3🌞
87,320,l-o45jb8pndlm4,11215,1R,rental unit,0.0,NaN,2950,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3923.250,False,True,757.325,35400,0.743280,🌞,-973.250,1.329915,1.3🌞
97,334,l-cpa3tvjh3aer,11215,7H,rental unit,0.0,NaN,3422,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,3923.250,False,True,1229.325,41064,0.640758,🌞,-501.250,1.146479,1.1🌞
98,344,l-1g19ida1hi7m,11217,1F,rental unit,1.0,925.0,2800,Limited natural light,This apartment has limited sunlight and the re...,...,3331.725,False,True,654.675,33600,0.766187,🌞,-531.725,1.189902,1.2🌞
100,355,l-o45jb8pndlm4,11215,1R,rental unit,0.0,NaN,2950,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3923.250,False,True,757.325,35400,0.743280,🌞,-973.250,1.329915,1.3🌞
102,358,l-155vl5l7p3mt,11215,3R,rental unit,2.5,900.0,4000,Limited natural light,This apartment has limited sunlight and the re...,...,3923.250,False,False,1807.325,48000,0.548169,🌞,76.750,0.980812,🌞
103,365,l-phubtn46t7vj,11215,2C,rental unit,4.0,NaN,5995,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3923.250,False,False,3802.325,71940,0.365751,🌗,2071.750,0.654420,🌞
105,371,l-r51ae16miros,11215,3,rental unit,1.0,800.0,2600,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,3923.250,False,True,407.325,31200,0.843337,🌞,-1323.250,1.508942,1.5🌞
106,372,l-1g19ida1hi7m,11217,1F,rental unit,1.0,925.0,2800,Limited natural light,This apartment has limited sunlight and the re...,...,3331.725,False,True,654.675,33600,0.766187,🌞,-531.725,1.189902,1.2🌞
115,390,l-r51ae16miros,11215,3,rental unit,1.0,800.0,2600,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,3923.250,False,True,407.325,31200,0.843337,🌞,-1323.250,1.508942,1.5🌞
116,391,l-1g19ida1hi7m,11217,1F,rental unit,1.0,925.0,2800,Limited natural light,This apartment has limited sunlight and the re...,...,3331.725,False,True,654.675,33600,0.766187,🌞,-531.725,1.189902,1.2🌞
118,393,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,2860.675,False,False,3001.250,56400,0.361436,🌗,1839.325,0.608654,🌞
133,505,l-u78ca500udu6,11217,1,rental unit,2.0,1000.0,7000,Limited natural light,This apartment has limited sunlight and the re...,...,3331.725,False,False,4854.675,84000,0.306475,🌗,3668.275,0.475961,🌗
151,541,l-4lgcsvm0lf5o,11217,GARDEN,rental unit,2.0,1400.0,4995,Limited natural light,This apartment has limited sunlight and the re...,...,3331.725,False,False,2849.675,59940,0.429494,🌗,1663.275,0.667012,🌞
152,551,l-ftuu4iri0p65,11217,3,rental unit,2.0,NaN,6850,Limited natural light,This apartment has limited sunlight and the re...,...,3331.725,False,False,4704.675,82200,0.313186,🌗,3518.275,0.486383,🌗
153,579,l-4brn1q68tp8k,11238,1S,rental unit,3.0,NaN,5500,Limited natural light,This apartment has limited sunlight and the re...,...,2860.675,False,False,3801.250,66000,0.308864,🌗,2639.325,0.520123,🌞
160,632,l-1ts5anpgrdrk,11238,4,rental unit,4.0,NaN,5900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2860.675,False,False,4201.250,70800,0.287924,🌗,3039.325,0.484860,🌗
163,695,l-7u0vaugt03jf,11238,4L,rental unit,3.0,1100.0,3850,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,2860.675,False,False,2151.250,46200,0.441234,🌗,989.325,0.743032,🌞
164,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2860.675,False,False,2201.250,46800,0.435577,🌗,1039.325,0.733506,🌞

In [137]:
(df_merged_filtered
     .sort_values(['zipcode','beds'])
)

,index,listing_path,zipcode,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,...,affordable_rent_couple,is_affordable_individual,is_affordable_couple,rent_difference_single,annualized_rent,indiv_affordability_to_rent_ratio,indiv_sun_exposure_icon,rent_difference_couple,coup_affordability_to_rent_ratio,coup_sun_exposure_icon
85,318,l-o45jb8pndlm4,11215,1R,rental unit,0.0,NaN,2950,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3923.250,False,True,757.325,35400,0.743280,🌞,-973.250,1.329915,1.3🌞
87,320,l-o45jb8pndlm4,11215,1R,rental unit,0.0,NaN,2950,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3923.250,False,True,757.325,35400,0.743280,🌞,-973.250,1.329915,1.3🌞
97,334,l-cpa3tvjh3aer,11215,7H,rental unit,0.0,NaN,3422,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,3923.250,False,True,1229.325,41064,0.640758,🌞,-501.250,1.146479,1.1🌞
100,355,l-o45jb8pndlm4,11215,1R,rental unit,0.0,NaN,2950,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3923.250,False,True,757.325,35400,0.743280,🌞,-973.250,1.329915,1.3🌞
3,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3923.250,False,True,1557.325,45000,0.584713,🌞,-173.250,1.046200,1.0🌞
105,371,l-r51ae16miros,11215,3,rental unit,1.0,800.0,2600,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,3923.250,False,True,407.325,31200,0.843337,🌞,-1323.250,1.508942,1.5🌞
115,390,l-r51ae16miros,11215,3,rental unit,1.0,800.0,2600,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,3923.250,False,True,407.325,31200,0.843337,🌞,-1323.250,1.508942,1.5🌞
32,241,l-155vl5l7p3mt,11215,3R,rental unit,2.5,900.0,4000,Limited natural light,This apartment has limited sunlight and the re...,...,3923.250,False,False,1807.325,48000,0.548169,🌞,76.750,0.980812,🌞
102,358,l-155vl5l7p3mt,11215,3R,rental unit,2.5,900.0,4000,Limited natural light,This apartment has limited sunlight and the re...,...,3923.250,False,False,1807.325,48000,0.548169,🌞,76.750,0.980812,🌞
33,242,l-4b0n1hfp83tg,11215,5,rental unit,3.0,NaN,4500,Limited natural light,This apartment has limited sunlight and the re...,...,3923.250,False,False,2307.325,54000,0.487261,🌗,576.750,0.871833,🌞
36,245,l-52b5rnl1erg8,11215,5F,rental unit,3.0,NaN,4995,Limited natural light,This apartment has limited sunlight and the re...,...,3923.250,False,False,2802.325,59940,0.438974,🌗,1071.750,0.785435,🌞
38,250,l-phubtn46t7vj,11215,2C,rental unit,4.0,NaN,5995,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3923.250,False,False,3802.325,71940,0.365751,🌗,2071.750,0.654420,🌞
103,365,l-phubtn46t7vj,11215,2C,rental unit,4.0,NaN,5995,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3923.250,False,False,3802.325,71940,0.365751,🌗,2071.750,0.654420,🌞
98,344,l-1g19ida1hi7m,11217,1F,rental unit,1.0,925.0,2800,Limited natural light,This apartment has limited sunlight and the re...,...,3331.725,False,True,654.675,33600,0.766187,🌞,-531.725,1.189902,1.2🌞
106,372,l-1g19ida1hi7m,11217,1F,rental unit,1.0,925.0,2800,Limited natural light,This apartment has limited sunlight and the re...,...,3331.725,False,True,654.675,33600,0.766187,🌞,-531.725,1.189902,1.2🌞
116,391,l-1g19ida1hi7m,11217,1F,rental unit,1.0,925.0,2800,Limited natural light,This apartment has limited sunlight and the re...,...,3331.725,False,True,654.675,33600,0.766187,🌞,-531.725,1.189902,1.2🌞
15,213,l-4vkr066dfpsq,11217,1,rental unit,2.0,NaN,2800,Moderate sunlight,This apartment has moderate sunlight and the r...,...,3331.725,False,True,654.675,33600,0.766187,🌞,-531.725,1.189902,1.2🌞
133,505,l-u78ca500udu6,11217,1,rental unit,2.0,1000.0,7000,Limited natural light,This apartment has limited sunlight and the re...,...,3331.725,False,False,4854.675,84000,0.306475,🌗,3668.275,0.475961,🌗
151,541,l-4lgcsvm0lf5o,11217,GARDEN,rental unit,2.0,1400.0,4995,Limited natural light,This apartment has limited sunlight and the re...,...,3331.725,False,False,2849.675,59940,0.429494,🌗,1663.275,0.667012,🌞
152,551,l-ftuu4iri0p65,11217,3,rental unit,2.0,NaN,6850,Limited natural light,This apartment has limited sunlight and the re...,...,3331.725,False,False,4704.675,82200,0.313186,🌗,3518.275,0.486383,🌗
23,227,l-mmegr1flhf1d,11225,2F,rental unit,1.0,NaN,1895,Limited natural light,This apartment has limited sunlight and the re...,...,1713.550,False,False,857.575,22740,0.547454,🌞,181.450,0.904248,🌞
39,252,l-mmegr1flhf1d,11225,2F,rental unit,1.0,NaN,1895,Limited natural light,This apartment has limited sunlight and the re...,...,1713.550,False,False,857.575,22740,0.547454,🌞,181.450,0.904248,🌞
18,216,l-jlm1f9thn9hb,11225,1,rental unit,4.0,2000.0,4795,Limited natural light,This apartment has limited sunlight and the re...,...,1713.550,False,False,3757.575,57540,0.216356,🌗,3081.450,0.357362,🌗
57,273,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,2860.675,False,False,3001.250,56400,0.361436,🌗,1839.325,0.608654,🌞
68,289,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,2860.675,False,False,3001.250,56400,0.361436,🌗,1839.325,0.608654,🌞
77,306,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,2860.675,False,False,3001.250,56400,0.361436,🌗,1839.325,0.608654,🌞
118,393,l-ce404lar05gn,11238,1,rental unit,2.0,850.0,4700,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,2860.675,False,False,3001.250,56400,0.361436,🌗,1839.325,0.608654,🌞
164,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2860.675,False,False,2201.250,46800,0.435577,🌗,1039.325,0.733506,🌞
153,579,l-4brn1q68tp8k,11238,1S,rental unit,3.0,NaN,5500,Limited natural light,This apartment has limited sunlight and the re...,...,2860.675,False,False,3801.250,66000,0.308864,🌗,2639.325,0.520123,🌞
163,695,l-7u0vaugt03jf,11238,4L,rental unit,3.0,1100.0,3850,Bright & sun drenched,This apartment is bright & sun-drenched and th...,...,2860.675,False,False,2151.250,46200,0.441234,🌗,989.325,0.743032,🌞
160,632,l-1ts5anpgrdrk,11238,4,rental unit,4.0,NaN,5900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2860.675,False,False,4201.250,70800,0.287924,🌗,3039.325,0.484860,🌗

In [138]:
df_merged_filtered.columns

Index(['index', 'listing_path', 'zipcode', 'unit_number', 'building_class',
       'beds', 'size', 'rent', 'sun_exposure_cat', 'sun_exposure', 'floor',
       'median age', 'per capita income', 'median household income',
       'affordable_rent_single', 'affordable_rent_couple',
       'is_affordable_individual', 'is_affordable_couple',
       'rent_difference_single', 'annualized_rent',
       'indiv_affordability_to_rent_ratio', 'indiv_sun_exposure_icon',
       'rent_difference_couple', 'coup_affordability_to_rent_ratio',
       'coup_sun_exposure_icon'],
      dtype='object')

In [ ]:
df_35_64.columns

In [154]:
# Merge df_merged_filtered and df_35_64 on 'zipcode' with a left join
df_merged_living = df_merged_filtered.merge(df_35_64, on='zipcode', how='left')
df_merged_living

,index,listing_path,zipcode,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,...,rent_difference_single,annualized_rent,indiv_affordability_to_rent_ratio,indiv_sun_exposure_icon,rent_difference_couple,coup_affordability_to_rent_ratio,coup_sun_exposure_icon,living_arrangement,count,age_group
0,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,1557.325,45000,0.584713,🌞,-173.250,1.046200,1.0🌞,lives alone,3958,35-64
1,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,1557.325,45000,0.584713,🌞,-173.250,1.046200,1.0🌞,householder with spouse,21217,35-64
2,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,1557.325,45000,0.584713,🌞,-173.250,1.046200,1.0🌞,householder with partner,2368,35-64
3,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,1557.325,45000,0.584713,🌞,-173.250,1.046200,1.0🌞,child of householder,672,35-64
4,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,1557.325,45000,0.584713,🌞,-173.250,1.046200,1.0🌞,other relatives,2357,35-64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2201.250,46800,0.435577,🌗,1039.325,0.733506,🌞,householder with spouse,11089,35-64
182,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2201.250,46800,0.435577,🌗,1039.325,0.733506,🌞,householder with partner,1909,35-64
183,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2201.250,46800,0.435577,🌗,1039.325,0.733506,🌞,child of householder,1062,35-64
184,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2201.250,46800,0.435577,🌗,1039.325,0.733506,🌞,other relatives,2441,35-64
185,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2201.250,46800,0.435577,🌗,1039.325,0.733506,🌞,other nonrelatives,1544,35-64

In [145]:
# df_merged_living.to_csv("merged_living.csv", index = False)

In [155]:
df_merged_living[df_merged_living['zipcode']=='11225'].groupby('living_arrangement').sum()

/var/folders/km/gmzkf_4n5qn6c84ksf3bzy0c0000gn/T/ipykernel_69320/3177684498.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_merged_living[df_merged_living['zipcode']=='11225'].groupby('living_arrangement').sum()

,index,beds,size,rent,median age,per capita income,median household income,affordable_rent_single,affordable_rent_couple,is_affordable_individual,is_affordable_couple,rent_difference_single,annualized_rent,indiv_affordability_to_rent_ratio,rent_difference_couple,coup_affordability_to_rent_ratio,count
living_arrangement,,,,,,,,,,,,,,,,,
child of householder,695,6.0,2000.0,8585,108.3,124491,205626,3112.275,5140.65,0,0,5472.725,103020,1.311263,3444.35,2.165858,5445
householder with partner,695,6.0,2000.0,8585,108.3,124491,205626,3112.275,5140.65,0,0,5472.725,103020,1.311263,3444.35,2.165858,4803
householder with spouse,695,6.0,2000.0,8585,108.3,124491,205626,3112.275,5140.65,0,0,5472.725,103020,1.311263,3444.35,2.165858,23829
lives alone,695,6.0,2000.0,8585,108.3,124491,205626,3112.275,5140.65,0,0,5472.725,103020,1.311263,3444.35,2.165858,12564
other nonrelatives,695,6.0,2000.0,8585,108.3,124491,205626,3112.275,5140.65,0,0,5472.725,103020,1.311263,3444.35,2.165858,3873
other relatives,695,6.0,2000.0,8585,108.3,124491,205626,3112.275,5140.65,0,0,5472.725,103020,1.311263,3444.35,2.165858,13074

In [156]:
arrangement_order = ['householder with spouse', 'lives alone', 'householder with partner', 
                     'child of householder', 'other relatives', 'other nonrelatives']

df_merged_living['living_arrangement'] = pd.Categorical(df_merged_living['living_arrangement'], 
                                                 categories=arrangement_order, 
                                                 ordered=True)

In [157]:
df_merged_living

,index,listing_path,zipcode,unit_number,building_class,beds,size,rent,sun_exposure_cat,sun_exposure,...,rent_difference_single,annualized_rent,indiv_affordability_to_rent_ratio,indiv_sun_exposure_icon,rent_difference_couple,coup_affordability_to_rent_ratio,coup_sun_exposure_icon,living_arrangement,count,age_group
0,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,1557.325,45000,0.584713,🌞,-173.250,1.046200,1.0🌞,lives alone,3958,35-64
1,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,1557.325,45000,0.584713,🌞,-173.250,1.046200,1.0🌞,householder with spouse,21217,35-64
2,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,1557.325,45000,0.584713,🌞,-173.250,1.046200,1.0🌞,householder with partner,2368,35-64
3,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,1557.325,45000,0.584713,🌞,-173.250,1.046200,1.0🌞,child of householder,672,35-64
4,199,l-k5pmp1c6dcau,11215,3,rental unit,1.0,NaN,3750,Moderate sunlight,This apartment has moderate sunlight and the r...,...,1557.325,45000,0.584713,🌞,-173.250,1.046200,1.0🌞,other relatives,2357,35-64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2201.250,46800,0.435577,🌗,1039.325,0.733506,🌞,householder with spouse,11089,35-64
182,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2201.250,46800,0.435577,🌗,1039.325,0.733506,🌞,householder with partner,1909,35-64
183,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2201.250,46800,0.435577,🌗,1039.325,0.733506,🌞,child of householder,1062,35-64
184,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2201.250,46800,0.435577,🌗,1039.325,0.733506,🌞,other relatives,2441,35-64
185,704,l-1akn6ug8021r,11238,2L,rental unit,2.0,NaN,3900,Moderate sunlight,This apartment has moderate sunlight and the r...,...,2201.250,46800,0.435577,🌗,1039.325,0.733506,🌞,other nonrelatives,1544,35-64

In [175]:
(df_merged_living[df_merged_living['zipcode']=='11217'][['living_arrangement', 'count']].groupby('living_arrangement').sum()).to_csv('11217.csv', index = True)